<html>
<template>
	<div class="q-gutter-y-md">
		<div class="row q-gutter-y-md">
			<div class="col-md-12 col-12">
				<fieldset>
					<legend>
						&nbsp; Movimento: &nbsp;
						<m-radio class="radioOrdem" label=' Entrada' option="0" name="movimentacao" v-model='filtros.movimentoEntSai' style="display: inline" />
						&nbsp;

						<m-radio class="radioOrdem" label=' Saída' option="1" name="movimentacao" v-model='filtros.movimentoEntSai' style="display: inline" /> 
							&nbsp;
							<m-radio class="radioOrdem" label=' Ambos' option="2" name="movimentacao" v-model='filtros.movimentoEntSai' style="display: inline" /> &nbsp;
						</legend>
						<div class = "row">
							<div class = "col-md-2 col-12">
								<fieldset>
									<legend>&nbsp; Número &nbsp;</legend>
										Inicial: <m-input label="" v-model="filtros.numeroInicial" />
										Final: <m-input label="" v-model="filtros.numeroFinal" />
								</fieldset>
							</div>
						</div>
					<div class="row">
						<div class="col-md-4 col-12">
							<fieldset class="h-100">
								<legend>&nbsp; Itens &nbsp;</legend>
								<label><m-panel-check-mpms v-model="filtros.mpms" selectRef="selectItemIni, selectItemFim" :showServico="false" /></label>
								<m-select label="Inicial" ref="selectItemIni" :multiple="false" :request="requestItens" v-model="filtros.itemIni" />
								<m-select label="Final" ref="selectItemFim" :multiple="false" :request="requestItens" v-model="filtros.itemFim" />
							</fieldset>
						</div>

						<div class="col-md-8 col-12">
							<div class="row">
								<div class="col-md-12">
									<fieldset>
										<legend>&nbsp; Entidades &nbsp;</legend>
										<m-select label="" :multiple="true" v-model="filtros.entidade" :request="requestEntidade" />
									</fieldset>
								</div>
								<div class="col-md-12">
									<fieldset>
										<legend>&nbsp; Tipo Documento &nbsp;</legend>
										<m-select label="" :multiple="true" v-model="filtros.tipo" :request="requestTipo" />
									</fieldset>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 col-12">
							<fieldset>
								<legend>&nbsp; PLE &nbsp;</legend>
								<m-select label="" :multiple="true" v-model="filtros.paramEstoque" :request="requestEstoque" />
							</fieldset>
						</div>

						<div class="col-md-6 col-12">
							<fieldset class="fieldsetSam">
								<legend>&nbsp; Data &nbsp;</legend>
								<m-date-interval label="" v-model="filtros.data" :required="true" />
							</fieldset>
						</div>
						<div class="col-md-6 col-12">
							<fieldset>
								<legend>&nbsp; Status &nbsp;</legend>
								<m-select label="" :multiple="true" v-model="filtros.status" :request="requestStatus" />
							</fieldset>
						</div>
						<div class="col-md-6 col-12">
							<fieldset>
								<legend>&nbsp; Local &nbsp;</legend>
								<m-select label="" :multiple="true" v-model="filtros.local" :request="requestLocal" />
							</fieldset>
						</div>
					</div>

					<div class="col-md-5 col-12">
						<m-panel-criterio tipo="item" v-model='filtros.criteriosItem' />
					</div>
					<div class="row">
						<div class="col-md-3 col-12">
							<fieldset>
								<legend>&nbsp; Lote &nbsp;</legend>
								Inicial: <m-input v-model="filtros.loteIni" />
								Final: <m-input v-model="filtros.loteFin" />
							</fieldset>
						</div>
						<div class="col-md-3 col-12">
							<fieldset>
								<legend>&nbsp; Serie &nbsp;</legend>
								Inicial: <m-input  v-model="filtros.serieIni" />
								Final: <m-input v-model="filtros.serieFin" />
							</fieldset>
						</div>
						<div class="col-md-3 col-12">
							<fieldset>
								<legend>&nbsp; Impressão: &nbsp;</legend>
								<m-radio class="radioOrdem" label=' PDF' option="0" name="impressao" v-model='filtros.impressao' style="display: inline" />
								<m-radio class="radioOrdem" label=' Excel' option="1" name="impressap" v-model='filtros.impressao' style="display: inline" /> 
							</fieldset>
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</template>
<script>
	const classe = {
		data : {
			requestEstoque : {
				table : 'Abm20',
				columns : 'abm20codigo, abm20descr',
			},
			requestItens : {
				table : 'Abm01',
				columns : 'abm01codigo, abm01na',
				iniFimColumn : 'abm01codigo',
			},
			requestLocal : {
				table : 'abm15',
				columns : 'abm15nome',
				where : {
					abm15ctrl : 0
				}
			},
			requestStatus : {
				table : 'aam04',
				columns : 'aam04codigo'
			},
			requestLocal : {
				table : 'abm15',
				columns : 'abm15nome'
			},
			requestTipo : {
				table : 'Aah01',
				columns : 'aah01codigo, aah01nome',
				where : {
					aah01di : null
				}
			},
			requestEntidade : {
				table : 'Abe01',
				columns : 'abe01codigo, abe01na',
			}

		},
		onLoad : function() {
		},
		methods : {}
	}
</script>
<style>
fieldset {
	height: 100%;
}

select {
	width: 101%;
	height: 165px;
}
</style>
</html>