<html>
<template>
	<div class="q-gutter-y-md">
		<div class="row">
			<div class="col-md-12 col-12">
				<fieldset class="fieldsetSam">
					<legend>&nbsp; Itens &nbsp;</legend>
					<m-panel-check-mpms v-model="filtros.mpm" :showServico="false" selectRef="selectItem" style="padding-bottom: 5px;" />
					<m-select ref="selectItem" v-model="filtros.itens" :multiple="true" :request="requestItens" />
				</fieldset>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-6 col-12">
				<fieldset>
					<legend>&nbsp; Data Período &nbsp;</legend>
					<m-date-interval v-model="filtros.periodo"/>
				</fieldset>
			</div>
		
			<div class="col-md-6 col-12">
				<fieldset>
					<legend>&nbsp; Número &nbsp;</legend>
						<div class="row">
							<div class="col-6">
								<m-input label="" v-model="filtros.numeroIni" :required='true' />
							</div>
							<div class="col-6">
								<m-input label="" v-model="filtros.numeroFin" :required='true' />
							</div>
						</div>
				</fieldset>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12 col-12">
				<fieldset>
					<div class="row">
						<div class="col-md-6 col-12">
						<m-check class="checkCalc" label="Considerar somente itens não destinados" v-model="filtros.naoDestinado" style="display: inline"/>
						</div>
						
						<div class="col-md-6  col-12">
							<m-check class="checkCalc" label="Considerar somente itens com quantidade não autorizada" v-model="filtros.naoAutorizada" style="display: inline"/>
						</div>
					</div>
				</fieldset>
			</div>	
		</div>
	</div>
</template>

<script>
	const classe = {
		data : {
			requestItens : {
				table : 'Abm01',
				columns : 'abm01codigo, abm01descr'
			}
		},
		onLoad : function() {
		},
		methods : {}
	}
</script>

<style>
.radioOrdem {
	margin-top: 8px;
	margin-bottom: 12px;
	margin-left: 15px;
}

.checkCalc {
	margin-top: 5px;
	margin-left: 15px;
	margin-bottom: 14px;
}

fieldset {
	margin: 5px;
}

.fieldsetSam .row {
	margin-left: 0px;
	margin-bottom: 5px;
}

.d-inline {
	display: inline;
	padding-left: 2px;
}
</style>
</html>