<html>
	<template>
		<div class="row">
			<div class="col-md-12 col-12">
				<div class="row">
					<div class="col-md-6 col-12">
						<fieldset class="h-100">
							<legend>&nbsp; Itens &nbsp;</legend>
							<label><m-panel-check-mpms v-model="filtros.mpms" selectRef="selectItemIni, selectItemFim" :showMercadoria = "false" :showServico="false" /></label>
							<m-select label="Inicial" ref="selectItemIni" :multiple="false" :request="requestItens" v-model="filtros.itemIni" />
							<m-select label="Final" ref="selectItemFim" :multiple="false" :request="requestItens" v-model="filtros.itemFim" />
						</fieldset>
					</div>
					<div class="col-md-6 col-12">
						<fieldset class="h-100">
							<legend>&nbsp; Itens Inventariáveis &nbsp;</legend>
							<m-check v-model="filtros.itensInventariaveis" label="Considerar Itens Inventariaveis"  />
							<m-check v-model="filtros.itensNaoInventariaveis" label="Considerar Itens Não Inventariaveis"  />
						</fieldset>
					</div>
					<div class = "col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Tipo de Movimentação &nbsp;</legend>
							<m-select :multiple="true" v-model="filtros.tipoMov" :options="opcoesTipoMov" />
						</fieldset>
					</div>
					<div class = "col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; PLE &nbsp;</legend>
							<m-select :multiple="true" v-model="filtros.PLE" :request="requestPLE" />
						</fieldset>
					</div>
					<div class="col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Status &nbsp;</legend>
							<m-select label="" :multiple="true" v-model="filtros.status" :request="requestStatus" />
						</fieldset>
					</div>
					<div class="col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Local &nbsp;</legend>
							<m-select label="" :multiple="true" v-model="filtros.local" :request="requestLocal" />
						</fieldset>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-12">
						<fieldset>
							<legend>&nbsp; Lote &nbsp;</legend>
							Inicial: <m-input v-model="filtros.loteIni" />
							Final: <m-input v-model="filtros.loteFin" />
						</fieldset>
					</div>
					<div class="col-md-3 col-12">
						<fieldset>
							<legend>&nbsp; Serie &nbsp;</legend>
							Inicial: <m-input  v-model="filtros.serieIni" />
							Final: <m-input v-model="filtros.serieFin" />
						</fieldset>
					</div>
					<div class="col-md-3 col-12">
						<fieldset>
							<legend>&nbsp; Impressão: &nbsp;</legend>
							<m-radio class="radioOrdem" label=' PDF' option="0" name="impressao" v-model='filtros.impressao' style="display: inline" />
							<m-radio class="radioOrdem" label=' Excel' option="1" name="impressao" v-model='filtros.impressao' style="display: inline" /> 
						</fieldset>
					</div>
					<div class="col-md-3 col-12">
						<fieldset>
							<legend>&nbsp; Detalhamento: &nbsp;</legend>
							<m-radio class="radioOrdem" label=' Sintético' option ="0" name="detalhamento" v-model='filtros.detalhamento' style="display: inline" />
							<m-radio class="radioOrdem" label=' Analítico' option="1" name="detalhamaento" v-model='filtros.detalhamento' style="display: inline" /> 
						</fieldset>
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-6 col-12">
						<fieldset>
							<legend>&nbsp;Valor &nbsp;</legend>
							<m-select label="" v-model="filtros.valorItem" :options="opcoesValorItem"  :required="true" />
						</fieldset>
					</div>
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp;Data Saldo &nbsp;</legend>
							<m-date label="" v-model="filtros.dataSaldo" :required="true" />
						</fieldset>
					</div>
					<div class = "col-md-2 col-12">
						<fieldset>
							<legend>&nbsp;Numero de Dias Minimo &nbsp;</legend>
							<m-input  v-model="filtros.diasMin" />
						</fieldset>
					</div>
					<m-check v-model="filtros.itemSaldoZero" label="Não Imprimir Itens com Saldo Zero"  />
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestItens : {
					table : 'Abm01',
					columns : 'abm01codigo, abm01na'
				},
				opcoesTipoMov :[
					{value: 0, label: 'Mov. Interna', option: 'Movimentação Interna'},
					{value: 1, label: 'Compra', option: 'Compra'},
					{value: 2, label: 'Venda', option: 'Venda'}
				],
				requestPLE :{
					table : 'Abm20',
					columns : 'abm20codigo, abm20descr'
				},
				requestLocal : {
					table : 'abm15',
					columns : 'abm15nome',
					where : {
						abm15ctrl : 0
					}
				},
				requestStatus : {
					table : 'aam04',
					columns : 'aam04codigo'
				},
				opcoesValorItem :[
					{value: 'abm0101pmu', label: 'Preço Médio Unitário'},
					{value: 'custo', label: 'Custo Unitário'},
					{value: 'maior_preco_unit', label: 'Maior Preço Unitário'},
					{value: 'menor_preco_unit', label: 'Menor Preço Unitário'},
					{value: 'ultimo_preco', label: 'Ultimo Preço Unitário'},
					{value: 'descricao_livre', label: 'Codigo Livre'}
				]
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>