<html>
<template>
	<div class="q-gutter-y-md">
		<div class="row q-gutter-y-md">
			<div class="col-md-12 col-12">
				<fieldset>
					<legend>Seleção de Itens</legend>
					<div class="row">
						<div class="col-md-6 col-12">
							<fieldset>
								<legend>
									<m-panel-check-mpms v-model="filtros.mpm" :showServico="false" selectRef="selectItemIni, selectItemFim" style="padding-bottom: 5px;" />
								</legend>
								<m-select label="Inicial" ref="selectItemIni" :multiple="false" :request="requestItens" v-model="filtros.itemIni" />
								<m-select label="Final" ref="selectItemFim" :multiple="false" :request="requestItens" v-model="filtros.itemFim" />
							</fieldset>
						</div>
						<div class="col-md-6 col-12">
							<fieldset>
								<legend>Classe de Itens</legend>
								<m-select :multiple="true" v-model="filtros.classe" :request="requestClasse" />
							</fieldset>
						</div>
						<div class="col-md-6 col-12">
							<fieldset>
								<legend>&nbsp; Movimentação Estoque &nbsp;</legend>
								<m-check v-model="filtros.itensMovimentaEstoque" label="Considerar Itens Movimentam Estoque"  />
								<m-check v-model="filtros.itensNaoMovimentaEstoque" label="Considerar Itens Não Movimentam Estoque"  />
							</fieldset>
						</div>
						<div class="col-md-3 col-12">
							<fieldset>
								<legend>&nbsp; Lote &nbsp;</legend>
								Inicial: <m-input v-model="filtros.loteIni" />
								Final: <m-input v-model="filtros.loteFin" />
							</fieldset>
						</div>
						<div class="col-md-3 col-12">
							<fieldset>
								<legend>&nbsp; Serie &nbsp;</legend>
								Inicial: <m-input  v-model="filtros.serieIni" />
								Final: <m-input v-model="filtros.serieFin" />
							</fieldset>
						</div>
						<m-check v-model="filtros.itemSaldoZero" label="Não Imprimir Itens com Saldo Zero"  />
					</div>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-12">
				<fieldset>
					<legend>Configurações de impressão</legend>
					<div class="row q-gutter-y-md">
						<div class="col-md-4 col-12">
							<fieldset>
								<legend>Data do Saldo</legend>
								<m-date v-model="filtros.data" :required="true" />
							</fieldset>
						</div>
						<div class="col-md-4 col-12">
							<fieldset>
								<legend>Totalização</legend>
								<m-check v-model="filtros.totalGrau" label="Totalizar Graus" />
								<m-check v-model="filtros.inativos" label="Considerar itens inativos" />
							</fieldset>
						</div>

						<div class="col-md-4 col-12">
							<fieldset>
								<legend>Entidade 3º</legend>
								<m-radio label="Código" option="0" v-model="filtros.entidade3" />
								<m-radio label="Nome Abreviado" option="1"
									v-model="filtros.entidade3" />
							</fieldset>
						</div>
						<div class="col-md-4 col-12">
							<fieldset>
								<legend>&nbsp; Detalhamento: &nbsp;</legend>
								<m-radio class="radioOrdem" label=' Sintético' option ="0" name="detalhamento" v-model='filtros.detalhamento' style="display: inline" />
								<m-radio class="radioOrdem" label=' Analítico' option="1" name="detalhamaento" v-model='filtros.detalhamento' style="display: inline" /> 
							</fieldset>
						</div>
						<div class="col-md-4 col-12">
							<fieldset style = "height: 75px">
								<legend>&nbsp; Impressão: &nbsp;</legend>
								<m-radio class="radioOrdem" label=' PDF' option="0" name="impressao" v-model='filtros.impressao' style="display: inline" />
								<m-radio class="radioOrdem" label=' Excel' option="1" name="impressao" v-model='filtros.impressao' style="display: inline" /> 
							</fieldset>
						</div>
					</div>
				</fieldset>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12 col-12">
				<fieldset>
					<legend>Seleção de Saldos</legend>
					<div class="row q-gutter-y-md">
						<div class="col-md-6 col-12">
							<fieldset>
								<legend>Status</legend>
								<m-select label="" :multiple="true" v-model="filtros.status"
									:request="requestStatus" />
							</fieldset>
						</div>
						<div class="col-md-6 col-12">
							<fieldset>
								<legend>Local</legend>
								<m-select label="" :multiple="true" v-model="filtros.local"
									:request="requestLocal" />
							</fieldset>
						</div>
						<div class="col-md-6 col-12">
							<m-panel-criterio tipo="item" v-model='filtros.criterios' />
						</div>
					</div>
				</fieldset>
			</div>
		</div>
	</div>
</template>
<script>
	const classe = {
		data : {
			requestItens : {
				table : 'Abm01',
				columns : 'abm01codigo, abm01na',
				iniFimColumn: 'abm01codigo',
			},
			requestClasse : {
				table : 'Aam01',
				columns : 'aam01codigo, aam01descr'
			},
			requestStatus : {
				table : 'Aam04',
				columns : 'aam04codigo'
			},
			requestLocal : {
				table : 'Abm15',
				columns : 'abm15nome'
			}
		},
		onLoad : function() {
		},
		methods : {}
	}
</script>
<style>
input[type="radio"] {
	margin-right: 5px;
}

fieldset {
	height: 100%;
}

legend {
	padding: 0px 5px;
}
</style>
</html>