<html>
	<template>
	<div class = "row">
		<div class = "col-md-12 col-12">
			<div class = "legenda"> ******* Atenção: Os campos livres dos filtros devem ser previamente cadastrados no alinhamento de valores 5003 ******* </div>
			<div class = "col-md-12 col-12">
				<fieldset class="h-100">
	                  <legend>&nbsp; Itens &nbsp;</legend>
	                  <label><m-panel-check-mpms v-model="filtros.mpms" selectRef="selectItemIni, selectItemFim" :showServico="false" /></label>
	                  <m-select  ref="selectItemIni" v-model="filtros.idItens" :multiple="true" :request="requestItem"/>
	              	</fieldset>
			</div>
			<div class = "col-md-12 col-12">
				<fieldset>
					<legend>&nbsp; Campos Livres Itens &nbsp;</legend>
					<div class = "row">
						<div class = "col-md-6 col-12">
							Campo 1
							<m-select :multiple="false" v-model="filtros.campoLivre1" :request="requestCampos"  />
						</div>
						
						<div class = "col-md-6 col-12">
							Campo 4
							<m-select :multiple="false" v-model="filtros.campoLivre4" :request="requestCampos"  />
						</div>
						
						<div class = "col-md-6 col-12">
							Campo 2
							<m-select :multiple="false" v-model="filtros.campoLivre2" :request="requestCampos"  />
						</div>
						<div class = "col-md-6 col-12">
							Campo 5
							<m-select :multiple="false" v-model="filtros.campoLivre5" :request="requestCampos"  />
						</div>
						<div class = "col-md-6 col-12">
							Campo 3
							<m-select :multiple="false" v-model="filtros.campoLivre3" :request="requestCampos"  />
						</div>
						<div class = "col-md-6 col-12">
							Campo 6
							<m-select :multiple="false" v-model="filtros.campoLivre6" :request="requestCampos"  />
						</div>
						
					</div>
				</fieldset>
			</div>
		</div>
	</div>
	
	</template>
	<script>
		const classe = {
			data: {
			 requestItem:{
					table:'Abm01',
					columns:'abm01codigo,abm01na'
				},
			requestCampos:{
					table: 'aba6001',
					columns: 'aah02descr',
					iniFimColumn:"aah02nome",
					data:{
						join:{
							left:"aba6001cpoVlr",
							inner:"aba6001alin"
						},
						where: {
							aba60codigo: '5003'
						}
					}
				},
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		.legenda{
			text-align:center;
			color:red;
		}
	</style>
	
</html>