<html>
	<template>
		<div class = "row">
			<div class = "col-md-12 col-12">
				<div class = "row">
					<div class = "col-md-6 col-12">
						<fieldset class="h-100">
		                    <legend>&nbsp; Naturezas &nbsp;</legend>
		                  	Inicial: <m-select v-model="filtros.natIni" :multiple="false" :request="requestNaturezas"/>
		                  	Final: <m-select v-model="filtros.natFin" :multiple="false" :request="requestNaturezas"/>
					</div>
					<div class = "col-md-6 col-12">
						<fieldset class="h-100">
		                    <legend>&nbsp; Agrupamentos &nbsp;</legend>
		                  	Inicial: <m-select v-model="filtros.agroupIni" :multiple="false" :request="requestAgrupamento"/>
		                  	Final: <m-select v-model="filtros.agroupFin" :multiple="false" :request="requestAgrupamento"/>
					</div>
					<div class = "col-md-3">
						<fieldset style = "height:73px">
							<legend>&nbsp; Impressão: &nbsp;</legend>
							<m-radio class="radioOrdem" label=' PDF' option="0" name="impressao" v-model='filtros.impressao' style="display: inline" />
							<m-radio class="radioOrdem" label=' Excel' option="1" name="impressao" v-model='filtros.impressao' style="display: inline" /> 
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				 requestNaturezas:{
					table:'Abf10',
					columns:'abf10codigo,abf10nome',
					iniFimColumn: 'Abf10codigo'
				},
				 requestAgrupamento:{
					table:'Abf11',
					columns:'abf11codigo,abf11nome',
					iniFimColumn: 'Abf11codigo'
				},
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>