<html>
	<template>
		<div class = "row">
			<div class = "col-md-12 col-12">
				<div class = "col-md-12 col-12">
					<fieldset>				
						<legend>&nbsp; Entidades &nbsp;</legend>
						Inicial: <m-select label="" v-model="filtros.entidadeIni" :request = "requestEntidade" :multiple="false" />
						Final: <m-select label="" v-model="filtros.entidadeFin" :request = "requestEntidade" :multiple="false" />
					</fieldset>
				</div>
				<div class="col-1">
					<m-check v-model="filtros.chkPolitica" label="Exibir Politica da Entidade"  />
				</div>
				<div class="col-1">
					<m-check v-model="filtros.chkCliente" label="Exibir Apenas Clientes"  />
				</div>
			</div >
		</div>
		
		
	</template>
	<script>
		const classe = {
			data: {
				requestEntidade:{
					table:'Abe01',
					columns:'abe01codigo,abe01na',
					iniFimColumn: 'abe01codigo'
					
				}
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>