<html>
	<template>
		<div class = "row">
			<div class = "col-md-12">
				<div class = "row">
					<div class = "col-md-4">
						<fieldset>
							<legend>&nbsp; Clientes &nbsp; </legend>
							Inicial<m-select label="" v-model="filtros.entidadeIni" :request = "requestEnt" :multiple="false" />
							Final<m-select label="" v-model="filtros.entidadeFin" :request = "requestEnt" :multiple="false" />
						</fieldset>
					</div>
					<div class = "col-md-4">
						<fieldset>
						<legend>&nbsp; Produto &nbsp;</legend>
							Inicial <m-select label="" v-model="filtros.itemIni" :request = "requestItem" :multiple="false" />
							Final <m-select label="" v-model="filtros.itemFin" :request = "requestItem" :multiple="false" />
						</fieldset>
					</div>
					<div class = "col-md-4">
						<fieldset>
							<legend>&nbsp; Tabela Preço &nbsp;</legend>
							Inicial: <m-select label="" v-model="filtros.tabelaIni" :request = "requestTabela" :multiple="false" />
							Final: <m-select label="" v-model="filtros.tabelaFin" :request = "requestTabela" :multiple="false" />
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestEnt:{
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
					iniFimColumn: 'abe01codigo',
					data:{
						customWhere: null
					}
				},
				requestItem:{
					table:'Abm01',
					columns:'abm01codigo, abm01na',
					iniFimColumn: 'abm01codigo',
					where:{
						abm01tipo: 1
					}
				},
				requestTabela:{
					table:'Abe40',
					columns:'abe40codigo, abe40nome',
					iniFimColumn: 'abe40codigo'
				}
				
				
			},
			onLoad: function () {
				let whereEnt = (this.idEntidades).length > 0 ? 'abe01id in ('+this.idEntidades.toString()+')' : null
				this.requestEnt.data.customWhere = whereEnt
			},
			methods: {}
		}
	</script>
	<style>
		.field-main{
			width:800px;
			height: 500px;	
			margin: auto;
			
		}
		.entidades{
			display: flex;	
		}
		.cliente, .itens, .tabela{
			width:50%;
		}
		
	</style>
</html>