<html>
	<template>
		<div class = "row">
			<div class = "col-md-12 col-12">
				<div class = "row">
					<div class = "col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Data Emissao &nbsp; </legend>
							<m-date-interval v-model="filtros.dataEmissao" :required='false' />
						</fieldset>
					</div>
					<div class = "col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Data Entrega &nbsp; </legend>
							<m-date-interval v-model="filtros.dataEntrega" :required='false' />
						</fieldset>
					</div>
					<div class = "col-md-12 col-12">
						<fieldset>
							<legend>&nbsp; Despachos &nbsp;</legend>
							<m-select label="" :multiple="true" v-model="filtros.despacho" :request="requestDespacho" />								
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestDespacho:{
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
					where:{
						abe01trans:1
					}
				},
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>