<html>
	<template>
		<fieldset>
			<legend>
				&nbsp; Operação: &nbsp;
				<m-radio class="radioOrdem" label=' Recebimento' option="0" name="pedido" v-model='filtros.resumoOperacao' style="display: inline" />
				&nbsp;
				<m-radio class="radioOrdem" label=' Faturamento' option="1" name="pedido" v-model='filtros.resumoOperacao' style="display: inline" /> 
				&nbsp;
			</legend>
		<div class = "row">
			<div class="col-md-6 col-12">
				<fieldset class="fieldsetSam">
					<legend>&nbsp; Emissão &nbsp;</legend>
					<m-date-interval label="" v-model="filtros.dataEmissao"/>
				</fieldset>	
			</div>
			<div class="col-md-6 col-6">
				<fieldset class="h-100">
					<legend>&nbsp; Estados &nbsp;</legend>
					<m-select  :multiple="true" :request="requestEstado" v-model="filtros.estado" />
				</fieldset>
			</div>
			<div class="col-md-6 col-12">
				<fieldset>
					<legend>&nbsp; Itens &nbsp;</legend>
					<m-select ref="selectItem" :multiple="true" :request="requestItens" v-model="filtros.itens" />
				</fieldset>
			</div>
			<div class="col-md-6 col-12">
				<fieldset>
					<legend>&nbsp; Categoria &nbsp;</legend>
					<m-select :multiple="true" :request="requestCategoria" v-model="filtros.categoria" />
				</fieldset>
			</div>
			<div class="col-md-2 col-2">
				<fieldset>
					<legend>&nbsp; Imprimir em &nbsp;</legend>
					<m-radio v-model="filtros.impressao" option="0" label=" PDF"  />
					<m-radio v-model="filtros.impressao" option="1" label=" XLS" />
				</fieldset>
				
			</div>
			<div class="col-md-5 col-12">
				<fieldset>
					<legend>&nbsp; opções Impressão&nbsp;</legend>
					<m-check v-model="filtros.agrupaCategoria" label="Agrupar por Categoria"  />
					<m-check v-model="filtros.imprimeQuilo" label="Imprimir em Quilo"  />
				</fieldset>
			</div>
			<div class="col-md-5 col-12">
				<fieldset class = "h-100">
					<legend>&nbsp; Devolução&nbsp;</legend>
					<m-check v-model="filtros.chkDevolucao" label="Considerar Devoluções"  />
				</fieldset>
			</div>
		</div>
	</fieldset>
</template>
	<script>
		const classe = {
			data: {
				requestEstado:{
					table: 'Aag02',
					columns: 'aag02uf, aag02nome'
				},
				requestItens:{
					table: "Abm01",
					columns: "abm01codigo, abm01na",
					where:{
						abm01tipo: 1,
					}
				},
				requestCategoria:{
					table: "Aba3001",
					columns: "aba3001descr",
					where:{
						aba3001criterio: 35610617
					}
				}
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>