<html>
	<template>
<div class="row">
	<div class="col-12">
		<div class = "legenda"> ******* Atentar para as quantidades dos documentos com referencia ******* </div>
			
		<fieldset>
			<legend>
				&nbsp; Devolução: &nbsp;
				<m-radio label=' Recebimento' option="0" v-model='filtros.esMov' style="display: inline" />
				&nbsp;
				<m-radio label=' Faturamento' option="1" v-model='filtros.esMov' style="display: inline" /> 
				&nbsp;
			</legend>
			
			<div class="row">		
				<div class="col-md-12">	
					<fieldset>
						<legend>&nbsp; Entidades &nbsp;</legend>
						<m-select :multiple="true" v-model="filtros.entidades" :request="requestEntidades" />
					</fieldset>		
				</div>
			</div>	
			
			<div class="row">		
				<div class="col-md-12">	
					<fieldset>
						<legend>&nbsp; Motivos &nbsp;</legend>
						<m-select :multiple="true" v-model="filtros.motivosDevolucao" :request="requestMotivosDevolucao" />
					</fieldset>		
				</div>
			</div>		
			<div class="row">		
				<div class="col-md-12">	
					<fieldset>				
						<legend>&nbsp;PCD &nbsp;</legend>
						<m-select label="" v-model="filtros.pcd" :request = "requestPCD" :multiple="true" />
					</fieldset>	
				</div>
			</div>				
		
			<div class="row">
				<div class="col-md-12">
					<fieldset>
						<legend>
							&nbsp; Emissão do Documento &nbsp;
							<m-radio label=' Devolução' option="0" v-model='filtros.devolucaoOrigem' style="display: inline"/>
							&nbsp;
							<m-radio label=' Origem' option="1" v-model='filtros.devolucaoOrigem' style="display: inline"/>
							&nbsp;
						</legend>
						
						<m-date-interval v-model="filtros.datas"/>
					</fieldset>
				</div>		
			</div>	
					
			<div class="row">			
			    <div class="col-md-12">
					<m-panel-criterio tipo="entidade" v-model='filtros.criterios'/>
				</div>		
			</div>							
		
		</fieldset>
	</div>
</div>
</template>
	<script>
	  const classe = {
			data: {
				requestMotivosDevolucao: {
					table: 'Aae10',
					columns: 'aae10codigo, aae10descr',
				},
				requestEntidades: {
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
				},
				requestPCD:{
					table:'Abd01',
					columns:'abd01codigo, abd01descr'
				},
				
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		.legenda{
			text-align:center;
			color:red;
		}
	</style>
</html>