<html>
	<template>
		<div class = "row">
			<div class = "col-md-12 col-12">
				<div class = "row">
					<div class = "col-md-12 col-12">
						<div class = "row">
							<div class = "col-md-3 col-12">
								<fieldset class = "md-100">
									<legend>&nbsp; Número &nbsp;</legend>
										<legend>&nbsp; Inicial &nbsp;</legend>
										<m-input v-model="filtros.numeroInicial" />
					
										<legend>&nbsp; Final &nbsp;</legend>
										<m-input v-model="filtros.numeroFinal" />
								</fieldset>
							</div>
							<div class = "col-md-9 col-12">
								<div class = "row">
									<div class = "col-md-12 col-12">
										<div class = "row">
											<fieldset>
												<div class = "col-md-4 col-12">
													<legend>&nbsp; Data Emissao &nbsp; </legend>
													<m-date-interval v-model="filtros.dataEmissao" :required='false' />
												</div>
											</fieldset>
											<fieldset>
												<div class = "col-md-4 col-12">
													<legend>&nbsp; Data Entrada/Saída &nbsp; </legend>
													<m-date-interval v-model="filtros.dataEntradaSaida" :required='false' />
												</div>
											</fieldset>
											<div class = "col-md-12 col-12">
												<fieldset>
													<legend>&nbsp; Transportadora &nbsp;</legend>
													<m-select label="" :multiple="true" v-model="filtros.transportadora" :request="requestTransp" />								
												</fieldset>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestTransp: {
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
					where:{
						abe01trans:1
					}
				},
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>