<html>
	<template>
		<template>
		<div class="q-gutter-y-md">
			<fieldset>
				<legend>
					&nbsp; Operação: &nbsp;
					<m-radio class="radioOrdem" label=' Recebimento' option="0" name="operacao" v-model='filtros.resumoOperacao' style="display: inline" />
					&nbsp;
					<m-radio class="radioOrdem" label=' Faturamento' option="1" name="operacao" v-model='filtros.resumoOperacao' style="display: inline" /> 
					&nbsp;
				</legend>
				<div class="row q-gutter-y-md">
					<div class="col-md-2 col-12">
						<fieldset>
							<legend>&nbsp; Número &nbsp;</legend>
								<legend>&nbsp; Inicial &nbsp;</legend>
								<m-input v-model="filtros.numeroInicial" />
			
								<legend>&nbsp; Final &nbsp;</legend>
								<m-input v-model="filtros.numeroFinal" />
						</fieldset>
					</div>
					<div class="col-md-10 col-12">	
						<fieldset class = "h-100">
							<legend>&nbsp; Documentos &nbsp;</legend>			
							<div class="col-md-12 col-12">	
								<fieldset>
									<legend>&nbsp; Tipo Documento &nbsp;</legend>
									<m-select label="" :multiple="true" v-model="filtros.tipos" :request="requestTipos" />						
								</fieldset>	
							</div>	
						</fieldset>	
					</div>
				</div>
				<div class="row q-gutter-y-md">
					<div class="col-md-5 col-12">
						<fieldset class="fieldsetSam">
							<legend>&nbsp; Entrada/Saída &nbsp;</legend>
							<m-date-interval label="" v-model="filtros.dataEntSai"/>
						</fieldset>		
					</div>
					<div class="col-md-5 col-12">	
						<fieldset class="fieldsetSam">
							<legend>&nbsp; Emissão &nbsp;</legend>
							<m-date-interval label="" v-model="filtros.dataEmissao"/>
						</fieldset>		
					</div>	
					<div class="col-md-2 col-2">
						<fieldset>
							<legend>&nbsp; Imprimir em &nbsp;</legend>
							<m-radio v-model="filtros.impressao" option="0" label=" PDF"  />
							<m-radio v-model="filtros.impressao" option="1" label=" XLS" />
						</fieldset>
					</div>	
				</div>		
				<div class="row">
					<div class="col-md-6 col-6">
						<fieldset >
							<legend>&nbsp; CFOP &nbsp;</legend>
							<m-select  :multiple="true" :request="requestCfop" v-model="filtros.cfop" />
						</fieldset>
					</div>
					<div class="col-md-6 col-6">
						<fieldset>
							<legend>&nbsp; PCD &nbsp;</legend>
							<m-select  :multiple="true" :request="requestPcd" v-model="filtros.pcd" />
						</fieldset>
					</div>
				</div>			
			</fieldset>
		</div>
		<div class="row">
			<div class="col-12">
				<fieldset>
					<legend>&nbsp; Valores ( Escolha apenas 4 campos, 1 por campo ) &nbsp;</legend>
<!--					<m-check v-model="filtros.devolucao" label="considerar devoluções"  />-->
					1° Campo 
					<div class="row">
						<div class="col-1">
							<m-check v-model="filtros.total1" label="Totalizar"  />
						</div>
						<div class="col-6">
							<m-select :multiple="false" v-model="filtros.campoFixo1" :options="opcoes"  />
						</div>
						<div class="col-5">
							<m-select :multiple="false" v-model="filtros.campoLivre1" :request="requestCampos"  />
						</div>
					</div>
					2° Campo
					<div class="row">
						<div class="col-1">
							<m-check v-model="filtros.total2" label="Totalizar"  />
						</div>
						<div class="col-6">
							<m-select :multiple="false" v-model="filtros.campoFixo2" :options="opcoes"  />
						</div>
						<div class="col-5">
							<m-select :multiple="false" v-model="filtros.campoLivre2" :request="requestCampos"  />
						</div>
					</div>	
					3° Campo
					<div class="row">
						<div class="col-1">
							<m-check v-model="filtros.total3" label="Totalizar"  />
						</div>
						<div class="col-6">
							<m-select :multiple="false" v-model="filtros.campoFixo3" :options="opcoes"  />
						</div>
						<div class="col-5">
							<m-select :multiple="false" v-model="filtros.campoLivre3" :request="requestCampos"  />
						</div>
					</div>	
					4° Campo
					<div class="row">
						<div class="col-1">
							<m-check v-model="filtros.total4" label="Totalizar"  />
						</div>
						<div class="col-6">
							<m-select :multiple="false" v-model="filtros.campoFixo4" :options="opcoes"  />
						</div>
						<div class="col-5">
							<m-select :multiple="false" v-model="filtros.campoLivre4" :request="requestCampos"  />
						</div>
					</div>	
					5° Campo
					<div class="row">
						<div class="col-1">
							<m-check v-model="filtros.total5" label="Totalizar"  />
						</div>
						<div class="col-6">
							<m-select :multiple="false" v-model="filtros.campoFixo5" :options="opcoes"  />
						</div>
						<div class="col-5">
							<m-select :multiple="false" v-model="filtros.campoLivre5" :request="requestCampos"  />
						</div>
					</div>	
					6° Campo
					<div class="row">
						<div class="col-1">
							<m-check v-model="filtros.total6" label="Totalizar"  />
						</div>
						<div class="col-6">
							<m-select :multiple="false" v-model="filtros.campoFixo6" :options="opcoes"  />
						</div>
						<div class="col-5">
							<m-select :multiple="false" v-model="filtros.campoLivre6" :request="requestCampos"  />
						</div>
					</div>			
				</fieldset>
			</div>
	</template>
	<script>
		const classe = {
			data: {
				requestCfop:{
					table:"Aaj15",
					columns:"aaj15codigo, aaj15descr",	
				},
				
				requestPcd:{
					table:"Abd01",
					columns:"abd01codigo, abd01descr",
				},

				requestTipos: {
					table: 'Aah01',
					columns: 'aah01codigo, aah01nome',
				},
				requestItens: {
					table: 'Abm01',
					columns: 'abm01codigo, abm01na',
				},
				requestCampos:{
					table: 'aba6001',
					columns: 'aah02descr',
					iniFimColumn:"aah02nome",
					data:{
						join:{
							left:"aba6001cpoVlr",
							inner:"aba6001alin"
						},
						where: {
							aba60codigo: '5000'
						}
					}
				},
				opcoes: [
		            {value: 'Qtde. de Uso', label: 'Qtde. de Uso', option: 'Qtde. de Uso'},
		            {value: 'Qtde. Comercial', label: 'Qtde. Comercial', option: 'Qtde. Comercial'},
		            {value: 'Preço Unitário', label: 'Preço Unitário', option: 'Preço Unitário'},
		            {value: 'Total do Item', label: 'Total do Item', option: 'Total do Item'},
		            {value: 'Total Documento', label: 'Total Documento', option: 'Total Documento'},
		            {value: 'Total Financeiro', label: 'Total Financeiro', option: 'Total Financeiro'}
		        ] 
			},
			onLoad: function () {},
			methods: {	
			}
		}
	</script>

</html>