<html>
	<template>
		<div class = "row">
			<div class = "col-md-12">
				<div class = "row">
					
					<div class = "col-md-2">
						<fieldset>
							<legend>&nbsp;Número &nbsp;</legend>
							Inicial <m-input label="" v-model="filtros.numeroInicial" />
							Final<m-input label="" v-model="filtros.numeroFinal" />
						</fieldset>
					</div>
					
					<div class = "col-md-4">
						<fieldset>
							<legend>&nbsp;Data &nbsp;</legend>
							Inicial <m-date v-model='filtros.dataIni' :required="false" />
							Final <m-date v-model='filtros.dataFin' :required="false" />
						</fieldset>
					</div>
					
					<div class = "col-md-4">
						<fieldset>
						<legend>&nbsp;Utilização &nbsp;</legend>
						Inicial <m-date v-model='filtros.dataUtilIni' :required="false" />
						Final <m-date v-model='filtros.dataUtilFin' :required="false" />
						</fieldset>
					</div>
					<div class = "col-md-2">
						<fieldset style = "height: 155px">
							<legend>&nbsp;Status &nbsp;</legend>
							<m-check v-model="filtros.statCriado" option="0" label="Criado" />
							<m-check v-model="filtros.statConcluido" option="1" label="Concluída" />
						</fieldset>		
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-6">
						<fieldset>
							<div class = "row">
								<div class = "col-md-12">
									<m-panel-check-mpms v-model="filtros.mpms" :showServico="false" selectRef="selectItemIni, selectItemFim" style="padding-bottom: 5px;" />
									<m-select ref="selectItemIni" v-model="filtros.itemIni" :multiple="false" :request="requestItens" label="Inicial" />
									<m-select ref="selectItemFin" v-model="filtros.itemFin" :multiple="false" :request="requestItens" label="Final" />
								</div>
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestItens : {
					table : 'Abm01',
					columns : 'abm01codigo, abm01na',
					iniFimColumn: 'abm01codigo'
				},
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		
	</style>
</html>