<html>
	<template>
		<fieldset>
			<legend>
				<m-radio label="Compra" v-model="filtros.isCompra" name="isCompra" option="0" style="display: inline" />
				&nbsp;
				<m-radio label="Venda" v-model="filtros.isCompra" name="isCompra" option="1" style="display: inline" />
				&nbsp;
			</legend>
			<div class = "row">
				<div class = "col-md-12 col-12">
					<div class = "row">
						<div class = "col-md-8 col-12">
							<div class = "row">
								<div class="col-md-8 col-12">
									<fieldset class="fieldsetSam">
										<legend>&nbsp;Tipo Documento &nbsp;</legend>
										<m-select label="" :multiple="true" v-model="filtros.tipo" :request="requestTipo" />
									</fieldset>
								</div>
								<div class="col-md-4 col-12">
									<fieldset class="fieldsetSam">
									<legend>&nbsp;Número Documento &nbsp;</legend>
										<div class = "row">
											<div class="col-md-6 col-12">
												<m-input label="" v-model="filtros.numeroInicial" />
											</div>
											<div class="col-md-6 col-12">
												<m-input label="" v-model="filtros.numeroFinal" />
											</div>
											
										</div>
									</fieldset>
								</div>
							</div>
						</div>
						
						<div class = "col-md-4 col-12" >
							<fieldset>
								<legend>&nbsp;Emissão &nbsp;</legend>
								<m-date-interval v-model='filtros.data' :required="true" />
							</fieldset>
						</div>
						<div class = "col-md-12 col-12">
							<m-panel-check-mpms v-model="filtros.mpms" :showServico="false" selectRef="selectItem" style="padding-bottom: 5px;" />
							<div class = "row">
								<div class = "col-md-6 col-12" >
									<fieldset>
										<legend>&nbsp;Item &nbsp;</legend>
									<div class = "col-md-4 col-12">
										<m-select ref="selectItem" v-model="filtros.item" :multiple="true" :request="requestItens" label="" />
									</div>
									</fieldset>
								</div>
							
								<div class = "col-md-6 col-12">
									<fieldset>
										<legend>&nbsp;Entidade &nbsp;</legend>
										<div class = "col-md-4 col-12">
											<m-select label="" v-model="filtros.entidade" :multiple="true" :request="requestEntidade" />
										</div>
									</fieldset>
								</div>
								<div class = "col-md-12 col-12">
									<fieldset>
										<legend>&nbsp;PCD &nbsp;</legend>
										<div class = "col-md-4 col-12">
											<m-select label="" v-model="filtros.pcd" :multiple="true" :request="requestPCD" />
										</div>
									</fieldset>
								</div>
							</div>
						</div>
						<div class="col-md-8 col-12">
							<fieldset>
								<legend>&nbsp;Valores &nbsp;</legend>
								
								<div class = "row">
									<div class="col-md-2 col-12" >
										<m-check v-model="filtros.total1" option="1" label="Totallizar" />
									</div>
									<div class="col-md-10 col-12">
										<m-select label="" v-model="filtros.campoLivre1" :options="requestCamposLivres" label = "1º Campo" />
									</div>
								</div>
								<div class = "row">
									<div class="col-md-2 col-12" >
										<m-check v-model="filtros.total2" option="1" label="Totallizar" />
									</div>
									<div class="col-md-10 col-12">
										<m-select label="" v-model="filtros.campoLivre2" :options="requestCamposLivres" label = "2º Campo" />
									</div>
								</div>
								<div class = "row">
									<div class="col-md-2 col-12" >
										<m-check v-model="filtros.total3" option="1" label="Totallizar" />
									</div>
									<div class="col-md-10 col-12">
										<m-select label="" v-model="filtros.campoLivre3" :options="requestCamposLivres" label = "3º Campo" />
									</div>
								</div>
								<div class = "row">
									<div class="col-md-2 col-12" >
										<m-check v-model="filtros.total4" option="1" label="Totallizar" />
									</div>
									<div class="col-md-10 col-12">
										<m-select label="" v-model="filtros.campoLivre4" :options="requestCamposLivres" label = "4º Campo" />
									</div>
								</div>
							</fieldset>
						</div>
						<div class = "col-md-4" >
							<fieldset>
								<legend>&nbsp;Atendimento &nbsp;</legend>
								<div class = "row">
									<div class = "col-md-12">
										<m-check v-model="filtros.naoAtend" option="0" label="Não Atendidos" />
									</div>
									
								</div>
								<div class = "row">
									<div class = "col-md-12">
										<m-check v-model="filtros.parcialAtend" option="1" label="Parcialemente Atendido" />
									</div>
									
								</div>
								<div class = "row">
									<div class = "col-md-12">
										<m-check v-model="filtros.totalAtend" option="2" label="Totalmente Atendido" />
									</div>
									
								</div>
								</fieldset>
								<div class = "row">
									<div class = "col-md-12">
										<fieldset>
											<legend>&nbsp;Impressão &nbsp;</legend>
											<m-radio v-model="filtros.impressao" option="0" label=" PDF"  />
											<m-radio v-model="filtros.impressao" option="1" label=" Excel" />
										</fieldset>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</fieldset>

	

	</template>
	<script>
		const classe = {
		data : {
			requestItens : {
				table : 'Abm01',
				columns : 'abm01codigo, abm01na'
			},
			requestTipo : {
				table : 'Aah01',
				columns : 'aah01codigo, aah01nome',
				where : {
					aah01di : null
				}
			},
			requestEntidade: {
				table: 'Abe01',
				columns: 'abe01codigo, abe01na',
			},
			requestPCD:{
				table: 'Abd01',
				columns: 'abd01codigo,abd01descr'
			},
			requestCamposLivres:[
				{value: 'qt_faturamento', label:'Qt. Faturamento'},
				{value: 'qt_documento', label:'Qt. Documento'},
				{value: 'qt_sce', label:'Qt. SCE'},
				{value: 'caixa', label:'Caixa'}
			]
		},
		onLoad : function() {
		},
		methods : {}
	}
	</script>
</html>