<html>
	<template>
		<div class = "row">
			<div class = "col-md-12 col-12">
				<div class = "row">
					<div class = "col-md-3 col-12">
						<fieldset>
							<legend>&nbsp; Número &nbsp;</legend>
								Inicial <m-input label="" v-model="filtros.numeroInicial" type="integer" required="true" />
								Final <m-input label="" v-model="filtros.numeroFinal" type="integer" required="true"/>
						</fieldset>
					</div>
					<div class = "col-md-9 col-12">
						<div class = "row">
							<div class = "col-md-12 col-12">
							 	<fieldset>
									<legend>&nbsp; Entidades &nbsp;</legend>
									<m-select label="" :multiple="true" v-model="filtros.entidade" :request="requestEntidade" />								
								</fieldset>
							</div>
							<div class = "col-md-12 col-12">
							 	<fieldset>
									<legend>&nbsp; Redespacho &nbsp;</legend>
									<m-select label="" :multiple="true" v-model="filtros.redespacho" :request="requestRedespacho" />								
								</fieldset>
							</div>
						</div>
					</div>
					<div class = "col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Representantes &nbsp;</legend>
							<m-select label="" :multiple="true" v-model="filtros.representante" :request="requestRep" />								
						</fieldset>
					</div>
					<div class = "col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Data Emissão &nbsp; </legend>
							<m-date-interval v-model="filtros.dataEmissao" :required='false' />
						</fieldset>
					</div>
					<div class = "col-md-2">
						<fieldset >
							<legend>&nbsp; Impressão: &nbsp;</legend>
							<m-radio class="radioOrdem" label=' PDF' option="0" name="impressao" v-model='filtros.impressao' style="display: inline" />
							<m-radio class="radioOrdem" label=' Excel' option="1" name="impressap" v-model='filtros.impressao' style="display: inline" /> 
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestEntidade: {
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
				},
				requestRedespacho: {
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
					where:{
						abe01trans: 1
					}
				},
				requestRep: {
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
					data:{
						customWhere:"abe01codigo like '04%'"
						
					}
				},
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>