<html>
	<template>
		<div class = "main">
			<div class = "documento">
				<div class = "numDoc">
					<fieldset>
						<legend>&nbsp; Número Documento &nbsp; </legend>
						Inicial:<m-input label="" v-model="filtros.numeroInicial" />
						Final:<m-input label="" v-model="filtros.numeroFinal" />
					</fieldset>
				</div>

				<div class = "tipoDoc">
					<fieldset>				
						<legend>&nbsp;Tipo Documento &nbsp;</legend>
						Inicial:<m-select label="" v-model="filtros.tipoDocIni" :request = "requestTipoDoc" :multiple="false" />
						Final:<m-select label="" v-model="filtros.tipoDocFin" :request = "requestTipoDoc" :multiple="false" />
					</fieldset>
				</div>
			
			</div>
			

			<div class = "datas">
				<div class = "dataEmissao">
				<fieldset>
					<legend>&nbsp; Data Emissao &nbsp; </legend>
					<m-date-interval v-model="filtros.dataEmissao" :required='true' />
				</fieldset>
				</div>
				<div class = "dataEntradaSaida">
					<fieldset>
						<legend>&nbsp; Data Entrada/Saída &nbsp; </legend>
						<m-date-interval v-model="filtros.dataEntradaSaida" :required='true' />
					</fieldset>
				</div>
			</div>
			<div class="Representante">
				<fieldset>				
					<legend>&nbsp; Representante &nbsp;</legend>
					Inicial:<m-select label="" v-model="filtros.repIni" :request = "requestRep" :multiple="false" />
					Final:<m-select label="" v-model="filtros.repFin" :request = "requestRep" :multiple="false" />
				</fieldset>
			</div>
			<div class="clientes">
				<fieldset>				
					<legend>&nbsp; Entidade &nbsp;</legend>
					Inicial:<m-select label="" v-model="filtros.entIni" :request = "requestEnt" :multiple="false" />
					Final:<m-select label="" v-model="filtros.entFin" :request = "requestEnt" :multiple="false" />
				</fieldset>
			</div>
			<div class="itens">
				<fieldset>				
					<legend>&nbsp; Item &nbsp;</legend>
					Inicial:<m-select label="" v-model="filtros.itemIni" :request = "requestItem" :multiple="false" />
					Final:<m-select label="" v-model="filtros.itemFin" :request = "requestItem" :multiple="false" />
				</fieldset>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestTipoDoc:{
					table:'Aah01',
					columns:'aah01codigo,aah01nome'
				},
				requestRep:{
					table:'Abe01',
					columns:'abe01codigo, abe01na',
					where:{
						abe01rep:1
					}
				},
				requestEnt:{
					table:'Abe01',
					columns:'abe01codigo, abe01na'
				},
				requestItem:{
					table:'Abm01',
					columns:'abm01codigo, abm01na',
					where:{
						abm01tipo: 1
					}
				}
				
					
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		.documento{
			display: flex;
		}
		.numDoc{
			width:25%;
		}
		.tipoDoc{
			width:75%;
		}
		.datas{
			display:flex;
		}
		.dataEmissao, .dataEntradaSaida{
			width:50%; 
		}
	</style>
</html>