<html>
	<template>
		<div class = "main">
			<div class = "pedEnt">
				<div class="cliente">
					<fieldset>				
						<legend>&nbsp; Cliente &nbsp;</legend>
						<m-select label="" v-model="filtros.entidade" :request = "requestEnt" :multiple="true" />
					</fieldset>
				</div>
				<div class="busca">
					<fieldset>
						<legend>&nbsp;Buscar Por &nbsp;</legend>
						<m-select label="" v-model="filtros.busca" :options="opcoesAtendimento" :showClearButton="false" :required="false" />
					</fieldset>
				</div>
			</div>
			<fieldset>
			<legend>&nbsp; Pedidos &nbsp;</legend>
			<div class = "pedidos">
				<div class= "tipoDocPed">
					<fieldset>				
						<legend>&nbsp;Tipo Documento &nbsp;</legend>
						<m-select label="" v-model="filtros.tipoDocPed" :request = "requestTipoDoc" :multiple="true" />
					</fieldset>
				</div>
				<div class = "numDocPed">
					<fieldset>
						<legend>&nbsp; Número &nbsp;</legend>
						<div class="row">
							<div class="col-md-1 col-12">Inicio</div>
							<div class="col-md-5 col-12">
								<m-input v-model="filtros.numeroPedInicial" style = "margin-left:15px" />
							</div>
							<div class="col-md-1 col-12">Fim</div>
							<div class="col-md-5 col-12">
								<m-input v-model="filtros.numeroPedFinal" style = "margin-left:3px" />
							</div>
						</div>
					</fieldset>
				</div>
				<div class="dtEmissaoPed">
					<fieldset>
						<legend>&nbsp; Data Emissao &nbsp; </legend>
						<m-date-interval v-model="filtros.dataEmissaoPed" :required='false' />
					</fieldset>
				</div>
			</div>
			</fieldset>
			
			<fieldset>
			<legend>&nbsp; Notas &nbsp;</legend>
			<div class = "notas">
				<div class= "tipoDocNota">
					<fieldset>				
						<legend>&nbsp;Tipo Documento &nbsp;</legend>
						<m-select label="" v-model="filtros.tipoDocNota" :request = "requestTipoDoc" :multiple="true" />
					</fieldset>
				</div>
				<div class = "numDocNota">
					<fieldset>
						<legend>&nbsp; Número &nbsp;</legend>
						<div class="row">
							<div class="col-md-1 col-12">Inicio</div>
							<div class="col-md-5 col-12">
								<m-input v-model="filtros.numeroNotaInicial" style = "margin-left:15px" />
							</div>
							<div class="col-md-1 col-12">Fim</div>
							<div class="col-md-5 col-12">
								<m-input v-model="filtros.numeroNotaFinal" style = "margin-left:3px" />
							</div>
						</div>
					</fieldset>
				</div>
				<div class="dtEmissaoNota">
					<fieldset>
						<legend>&nbsp; Data Emissao &nbsp; </legend>
						<m-date-interval v-model="filtros.dataEmissaoNota" :required='false' />
					</fieldset>
				</div>
			</div>
			</fieldset>

			<fieldset>
				<legend>&nbsp; Financeiro &nbsp; </legend>
				<div class = "financeiro">
					<div class= "tipoDocFinanc">
						<fieldset>				
							<legend>&nbsp;Tipo Documento &nbsp;</legend>
							<m-select label="" v-model="filtros.tipoDocFinanc" :request = "requestTipoDoc" :multiple="true" />
						</fieldset>
					</div>
					<div class = "numDocFinanc">
						<fieldset>
							<legend>&nbsp; Número &nbsp;</legend>
							<div class="row">
								<div class="col-md-1 col-12">Inicio</div>
								<div class="col-md-5 col-12">
									<m-input v-model="filtros.numeroDocFinancInicial" style = "margin-left:15px" />
								</div>
								<div class="col-md-1 col-12">Fim</div>
								<div class="col-md-5 col-12">
									<m-input v-model="filtros.numeroDocFinancFinal" style = "margin-left:3px" />
								</div>
							</div>
						</fieldset>
					</div>
					
				</div>
				<div class = "dataVencQuita">
					<div class="dtEmissaoFinanc">
						<fieldset>
							<legend>&nbsp; Data Emissao &nbsp; </legend>
							<m-date-interval v-model="filtros.dataEmissaoFinanc" :required='false' />
						</fieldset>
					</div>
					<div class="dataVencimento">
						<fieldset>
							<legend>&nbsp; Data Vencimento &nbsp; </legend>
							<m-date-interval v-model="filtros.dataVencimento" :required='false' />
						</fieldset>
					</div>
					<div class="dataQuitacao">
						<fieldset>
							<legend>&nbsp; Data Quitação &nbsp; </legend>
							<m-date-interval v-model="filtros.dataQuitacao" :required='false' />
						</fieldset>
					</div>
				</div>
				<div class = "operacoes">
					<div class= "portador">
						<fieldset>				
							<legend>&nbsp;Portador &nbsp;</legend>
							<m-select label="" v-model="filtros.portador" :request = "requestPortador" :multiple="false" />
						</fieldset>
					</div>
					<div class= "operacao">
						<fieldset>				
							<legend>&nbsp;Operação &nbsp;</legend>
							<m-select label="" v-model="filtros.operacao" :request = "requestOperacao" :multiple="false" />
						</fieldset>
					</div>
					<div class="opcoes">
						<fieldset>
							<legend>&nbsp;Opções &nbsp;</legend>
							<m-select label="" v-model="filtros.opcoesRecebimento" :options="opcoesRecebimento" :showClearButton="false" :required="false" />
						</fieldset>
					</div>
				</div>
			</fieldset>
			
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestEnt:{
					table:'Abe01',
					columns:'abe01codigo,abe01na'
				},
				opcoesAtendimento:[
					{label:"Pedido",value:0},
					{label:"Nota",value:1},
					{label:"Financeiro",value:2}
				],
				requestTipoDoc:{
					table:'Aah01',
					columns:'aah01codigo,aah01nome'
				},
				requestPortador:{
					table:'Abf15',
					columns:'abf15codigo,abf15nome',
					iniFimColumn: 'abf15codigo'
				},
				requestOperacao:{ 
					table:'Abf16',
					columns:'abf16codigo,abf16nome',
					iniFimColumn: 'abf16codigo'
				},
				opcoesRecebimento:[
					{label:"Recebido/A Receber",value:0},
					{label:"Recebidos",value:1},
					{label:"A Receber",value:2}
				]
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		.pedEnt{
			display:flex;
		}
		.cliente{
			width:85%;
		}
		.buscar{
			width:15%;
		}
		.pedidos{
			display:flex;
		}
		.tipoDocPed{
			width:50%;
		}
		.numDocPed{
			width:23%;
		}
		.dtEmissaoPed{
			width:27%;
		}


		.notas{
			display:flex;
		}
		.tipoDocNota{
			width:50%;
		}
		.numDocNota{
			width:23%;
		}
		.dtEmissaoNota{
			width:27%;
		}


		

		.financeiro{
			display:flex;
		}
		.tipoDocFinanc{
			width:75%;
		}

		.numDocFinanc{
			width:25%;
		}
		
		.dataVencQuita{
			display:flex;	
		}
		.dtEmissaoFinanc{
			width:40%;
		}
		.dataVencimento,.dataQuitacao{
			width:30%;
		}

		.operacoes{
			display:flex;
		}
		.portador{
			width:50%;
		}
		.operacao,.opcoes{
			width:25%;
		}
		
	</style>
</html>