<html>
	<template>
		<div class = "row">
			<div class = "col-md-12 col-12">
				<div class = "row">
					<div class = "col-md-3 col-12">
						<fieldset>				
							<legend>&nbsp; Capa de Lote &nbsp;</legend>
							Inicial:<m-select label="" v-model="filtros.capaLoteIni" :request = "requestCapaLote" :multiple="false" />
							Final:<m-select label="" v-model="filtros.capaLoteFin" :request = "requestCapaLote" :multiple="false" />
						</fieldset>
					</div>
					<div class = "col-md-9 col-12">
						<fieldset>				
							<legend>&nbsp; Entidade &nbsp;</legend>
							Inicial:<m-select label="" v-model="filtros.entIni" :request = "requestEnt" :multiple="false" />
							Final:<m-select label="" v-model="filtros.entFin" :request = "requestEnt" :multiple="false" />
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestCapaLote :{
					table: 'Bfb01',
					columns: 'bfb01lote',
					iniFimColumn: "bfb01lote"
				},	
				requestEnt :{
					table: 'Abe01',
					columns: 'abe01codigo, abe01na'
				},
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>