//Novo
<html>	
	<template>
		<div class = "col-md-12 col-12">
			<div class = "row" >
				<div class = "col-md-3 ">
					<fieldset>
						<legend>&nbsp; Número Documento de Produção &nbsp;</legend>
						Inicial: <m-input label="" v-model="filtros.numeroInicial" />
						Final: <m-input label="" v-model="filtros.numeroFinal" />	
					</fieldset>	
				</div>
				<div class = "col-md-9">
					<fieldset>
						<legend>&nbsp; Tipo Documento &nbsp;</legend>
						<m-select label="" v-model="filtros.tipos" :request = "requestTipo" :multiple="true" />
					</fieldset>
					<fieldset style = "height:80px ">
						<legend>&nbsp; Apontamentos &nbsp;</legend>
						<m-select label="" v-model="filtros.apontamentos" :request = "requestApontamento" :multiple="true" />
					</fieldset>	
				</div>
				<div class = "col-md-6 col-12">
					<fieldset>
						<legend>&nbsp; Data Doc Produção &nbsp;</legend>
						<m-date-interval :required = "false" v-model="filtros.dataDocProd" />
					</fieldset>
				</div>
				<div class = "col-md-6 col-12">
					<fieldset>
						<legend>&nbsp; Data Plano Produção &nbsp;</legend>
						<m-date-interval :required = "false" v-model="filtros.dataPlano" />
					</fieldset>
				</div>
				<div class = "col-md-6 col-12">
					<fieldset>
						<legend>&nbsp; Data Início Produção &nbsp;</legend>
						<m-date-interval :required = "false" v-model="filtros.dataInicioProd" />
					</fieldset>
				</div>
				<div class = "col-md-6 col-12">
					<fieldset>
						<legend>&nbsp; Recursos &nbsp;</legend>
						<m-select label="" v-model="filtros.recurso" :request = "requestRecurso" :multiple="true"  /> 
					</fieldset>	
				</div>
			</div>
<!--			<fieldset>-->
<!--				<legend>&nbsp; Apontamentos Por Atividade (Escolha apenas 1 valor por campo) &nbsp;</legend>-->
<!--				<div class = "row">-->
<!--					<div class = "col-md-6 col-12">-->
<!--						Campo 1-->
<!--						<m-select :multiple="false" v-model="filtros.campoLivre1" :request="requestCampos"  />-->
<!--					</div>-->
<!--					-->
<!--					<div class = "col-md-6 col-12">-->
<!--						Campo 4-->
<!--						<m-select :multiple="false" v-model="filtros.campoLivre4" :request="requestCampos"  />-->
<!--					</div>-->
<!--					-->
<!--					<div class = "col-md-6 col-12">-->
<!--						Campo 2-->
<!--						<m-select :multiple="false" v-model="filtros.campoLivre2" :request="requestCampos"  />-->
<!--					</div>-->
<!--					<div class = "col-md-6 col-12">-->
<!--						Campo 5-->
<!--						<m-select :multiple="false" v-model="filtros.campoLivre5" :request="requestCampos"  />-->
<!--					</div>-->
<!--					<div class = "col-md-6 col-12">-->
<!--						Campo 3-->
<!--						<m-select :multiple="false" v-model="filtros.campoLivre3" :request="requestCampos"  />-->
<!--					</div>-->
<!--					<div class = "col-md-6 col-12">-->
<!--						Campo 6-->
<!--						<m-select :multiple="false" v-model="filtros.campoLivre6" :request="requestCampos"  />-->
<!--					</div>-->
<!--					-->
<!--				</div>-->
<!--			</fieldset>-->
		</div>
		
		
	</template>
	<script>
		const classe = {
			data: {
				requestTipo:{
					table:'Aah01',
					columns:'aah01codigo, aah01nome'
				},
				requestRecurso:{
					table:'Abb20',
					columns: 'abb20codigo, abb20nome'
				},
				requestApontamento:{
					table:'Abp01',
					columns:'abp01codigo, abp01descr'
				},
				requestCampos:{
					table: 'aba6001',
					columns: 'aah02descr',
					iniFimColumn:"aah02nome",
					data:{
						join:{
							left:"aba6001cpoVlr",
							inner:"aba6001alin"
						},
						where: {
							aba60codigo: '5001'
						}
					}
				},
				
				
			},
			onLoad: function () {},
			methods: {}
		}
	</script>		
	</script>
	<style>
		.documento{
			display:flex;
		}
		.numero{
			width:33%;
		}
		.tipoDoc{
			width:20%;
		}
		.tipoData{
			width:47%;
		}
		.dataApontamento{
			width:47%;
		}
		
		.itemRec{
			display: flex;
		}
		.itens, .recursos{
			width:50%;
		}
	</style>
</html>