<html>
	<template>
		<div class = "row">
			<div class = "col-md-12 col-12">
				<div class = "row">
					<div class = "col-md-2 col-12">
						<fieldset>
							<legend>&nbsp; Número &nbsp;</legend>
							Inicial:<m-input label="" v-model="filtros.numeroInicial" />
							Final:<m-input label="" v-model="filtros.numeroFinal" />
						</fieldset>
					</div>
					<div class = "col-md-10 col-10">
						<fieldset>				
							<legend>&nbsp; Item &nbsp;</legend>
							<m-select label="" v-model="filtros.itens" :request = "requestItem" :multiple="true" />
						</fieldset>
						<fieldset>				
							<legend>&nbsp; Entidade &nbsp;</legend>
							<m-select label="" v-model="filtros.entidade" :request = "requestEnt" :multiple="true" />
						</fieldset>
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-12 col-12">
						<fieldset>
							<legend>&nbsp; Data &nbsp;</legend>
							<m-date-interval v-model="filtros.datas" :required='false' />
						</fieldset>
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-12 col-12">
						<fieldset>				
							<legend>&nbsp; Reclamações &nbsp;</legend>
							<m-select label="" v-model="filtros.reclamacao" :request = "requestRec" :multiple="true" />
							
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestEnt:{
					table:'Abe01',
					columns:'abe01codigo, abe01na',
				},
				requestItem:{
					table:'Abm01',
					columns:'abm01codigo, abm01na',
					where:{
						abm01tipo: 1
					}
				},
				requestRec:{
					table: 'Caa01',
					columns:'caa01codigo, caa01descr',
					where:{
						caa01tipo: 0
					}
				}
				
				
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	
</html>