<html>
	<template>
		<div class = "datas">
			<div class = "dataEmissao">
				<fieldset>
					<legend>&nbsp; Data Emissao &nbsp; </legend>
					<m-date-interval v-model="filtros.dataEmissao" :required='false' />
				</fieldset>
			</div>
			<div class = "dataSaida">
				<fieldset>
					<legend>&nbsp; Data Entrada/Saida &nbsp; </legend>
					<m-date-interval v-model="filtros.dataSaida" :required='false' />
				</fieldset>
			</div>
		</div>
		
		<div class = "entidade">
			<fieldset>				
				<legend>&nbsp; Entidade &nbsp;</legend>
				<m-select label="" v-model="filtros.idsEntidades" :request = "requestEnt" :multiple="true" />
			</fieldset>
		</div>
		<div class = "despacho">
			<fieldset>				
				<legend>&nbsp;Despacho&nbsp;</legend>
				<m-select label="" v-model="filtros.idsDespachos" :request = "requestTransp" :multiple="true" />
			</fieldset>
		</div>
		<div class = "redespacho">
			<fieldset>				
				<legend>&nbsp; Redespacho &nbsp;</legend>
				<m-select label="" v-model="filtros.idsRedesp" :request = "requestRedesp" :multiple="true" />
			</fieldset>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestEnt:{
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
					where:{
						abe01cli: 1
					}
				},
				requestTransp:{
					table: 'Abe01',
					columns:'abe01codigo, abe01na',
					where:{
						abe01trans:1
					}
				},
				requestRedesp:{
					table: 'Abe01',
					columns:'abe01codigo, abe01na',
					where:{
						abe01trans:1
					}
				}
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		.datas{
			display:flex;	
		}
		.dataEmissao, .dataSaida{
			width:50%;
		}
	</style>
</html>