<html>
	<template>
		<div class = itens>
			<div class="row">
				<div class="col-md-4 col-12">
					<fieldset>
						<legend>&nbsp;Itens&nbsp;</legend>
						<label><m-panel-check-mpms v-model="filtros.mpms" selectRef="selectItemIni, selectItemFim" :showServico="false" :showMercadoria = 'false' /></label>
						<m-select label = "Inicial" ref = "selectItemIni" :multiple = "false" :request = "requestItens" v-model = "filtros.itemIni" />
						<m-select label="Final" ref="selectItemFim" :multiple="false" :request="requestItens" v-model="filtros.itemFim" />
					</fieldset>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestItens : {
				table : 'Abm01',
				columns : 'abm01codigo, abm01na',
				iniFimColumn : 'abm01codigo',
				}
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	
	
</html>