<html>
	<template>
		<div class="main">
			<fieldset class = "fieldset-main">
				<div class = "dataHora">
					<div class = "hora">
						<fieldset class = "fieldsetHora" >
							<legend>&nbsp; Hora &nbsp; </legend>
								<input type = "time" v-model="filtros.hora"></input>
						</fieldset>
					</div>
					
					<div class = "dataEmissao">
						<fieldset>
							<legend>&nbsp; Data Emissao &nbsp; </legend>
							<m-date-interval v-model="filtros.dataEmissao" :required='false' />
						</fieldset>
					</div>
				</div>
				<div class = "dataEntradaSaida">
					<fieldset>
						<legend>&nbsp; Saída &nbsp; </legend>
						<m-date-interval v-model="filtros.dataEntrega" :required='false' />
					</fieldset>
				</div>
				<div class = "totais">
					<fieldset>
						<legend>&nbsp; Totais &nbsp; </legend>
						<m-check class="check" label="Imprimir Total de Caixas" v-model="filtros.totalCaixas"/>
						<br>
						<m-check class="check" label="Imprimir Total de Frascos" v-model="filtros.totalFrascos"/>
					</fieldset>
				</div>

				<div class = "despacho">
				<fieldset>				
					<legend>&nbsp; Despacho &nbsp;</legend>
					<m-select label="" v-model="filtros.despacho" :request = "requestTransp" :multiple="true" />
				</fieldset>
			</div> 
			</fieldset>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestTransp: {
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
					where: {abe01trans: 1}
				}
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		.fieldset-main{
			width:800px;
			height:400px;
			margin:auto;
		}

		.dataHora{
			display:flex;
		}
		.dataEmissao{
			width:80%;
		}
		.hora{
			width:20%;
		}
		.fieldsetHora{
			height:75px;
		}
	</style>
</html>