<html>
	<template>
		<div class="q-gutter-y-md">
			<div class="row q-gutter-y-md">
				<div class="col-md-12 col-12">
					<fieldset>
						<legend>
							&nbsp; Documento: &nbsp;
							<m-radio class="radioOrdem" label=' Entrada' option= "0" name="pedido" v-model='filtros.pedEntSai' style="display: inline" /> 
							&nbsp;
							<m-radio class="radioOrdem" label=' Saída' option= "1" name="pedido" v-model='filtros.pedEntSai' style="display: inline" /> 
							&nbsp;
						</legend>
						
						<div class="row q-gutter-y-md">
							<div class="col-12 col-md-2">
								<fieldset>
									<legend>&nbsp; Número &nbsp;</legend>
										<legend>&nbsp; Inicial/Final &nbsp;</legend>
										<m-input label="" v-model="filtros.numeroInicial" />
					
										<m-input label="" v-model="filtros.numeroFinal" />
								</fieldset>
							</div>
							
							<div class="col-12 col-md-10">			
								<div class="row">
									<div class="col-md-12 col-12">	
										<fieldset>
											<legend>&nbsp; Tipo de Documento &nbsp;</legend>
											<m-select label="" v-model="filtros.tipos" :multiple="true" :request="requestTipo" />
										</fieldset>	
									</div>
								
									<div class="col-md-6 col-12">	
										<fieldset>
											<legend>&nbsp; Emissão &nbsp;</legend>
											<m-date-interval v-model="filtros.emissao" />
										</fieldset>		
									</div>
									<div class="col-md-6 col-12">	
										<fieldset>
											<legend>&nbsp; Entrada/Saída &nbsp;</legend>
											<m-date-interval v-model="filtros.entradaSaida" />
										</fieldset>		
									</div>
								</div>						
							</div>
						</div>
						
						<div class="row q-gutter-y-md">
							<div class="col-md-12 col-12">
								<fieldset>
								
									<legend>&nbsp; Transportadora &nbsp;</legend>
									<m-select label="" v-model="filtros.despacho" :multiple="true" :request="requestTransp" />

									<legend>&nbsp; Redespacho &nbsp;</legend>
									<m-select label="" v-model="filtros.redespacho" :multiple="true" :request="requestTransp" />
								</fieldset>
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>
	</template>
	<script>
	  const classe = {
			data: {
				requestTipo: {
					table: 'Aah01',
					columns: 'aah01codigo, aah01nome'
				},
				requestTransp: {
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
					where: {abe01trans: 1}
				}
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		fieldset{
			height:100%;
		}
	</style>
</html>