<html>
	<template>
		<div class="q-gutter-y-md">
			<div class="row q-gutter-y-md">
				<div class="col-md-12 col-12">
					<fieldset>
						<legend>
							&nbsp; Documento de Produção &nbsp;
						</legend>
						
						<div class="row q-gutter-y-md"> 
							<div class="col-12 col-md-12">			
								<div class="row">
									<div class="col-md-12 col-12">	
										<fieldset>
											<legend>&nbsp; Tipo de Documento &nbsp;</legend>
											<m-select label="" v-model="filtros.tipo" :multiple="true" :request="requestTipo" />
										</fieldset>	
									</div>
								</div>						
							</div>
						</div>
						
					</fieldset>
				</div>
			</div>
		</div>

		<div class="q-gutter-y-md">
			<div class="row q-gutter-y-md">
				<div class="col-md-12 col-12">
					<fieldset>
						<legend>
							&nbsp; Número &nbsp;
						</legend>
						
						<div class="row q-gutter-y-md"> 
							<div class="col-12 col-md-12">			
								<div class="row">
									<div class="col-md-12 col-12">	
										
										<div>Inicial</div>
										<m-select label="" v-model="filtros.inicial" :multiple="false" :request="requestNumInicio" />
	
										<div>FInal</div>
										<m-select label="" v-model="filtros.final" :multiple="false" :request="requestNumFinal" />
									
									</div>
								</div>						
							</div>
						</div>
					</fieldset>
				</div>
			</div>
		</div>

		
		
	</template>
	<script>
	  const classe = {
			data: {
				requestTipo: {
					table: 'Aah01',
					columns: 'aah01codigo, aah01nome'
				},
				requestNumInicio: {
					table: 'Baa01',
					columns: 'abb01num, baa01descr',
					iniFimColumn : 'abb01num',
					data:{join: {inner: 'baa01central'}}
				},
				requestNumFinal: {
					table: 'Baa01',
					columns: 'abb01num, baa01descr',
					iniFimColumn : 'abb01num',
					data:{join: {inner: 'baa01central'}}
				}
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		fieldset{
			height:100%;
		}
	</style>
</html>