<html>
	<template>
		<fieldset>
			<div class = "main">
				<fieldset>
					<legend class = "title">&nbsp; Documento &nbsp; </legend>
					<div class = "documento">
						<div class = "operacao">
							<fieldset>
								<legend>&nbsp; Operação &nbsp; </legend>
								<m-select label="" v-model="filtros.operacao" :options="opcoesOperacao" :showClearButton="false" :required="true" />
							</fieldset>
						</div>
						<div class = "tipoOper">
							<fieldset>
							<legend>&nbsp; Tipo da Operação &nbsp; </legend>
							<m-select label="" v-model="filtros.tipoOperacao" :options="opcoesTipoOperacao" :showClearButton="false" :required="true" />
							</fieldset>
						</div>
						<div class = "data">
							<fieldset>
							<legend>&nbsp; Data Emissao &nbsp; </legend>
							<m-date-interval v-model="filtros.dataEmissao" :required='false' />
							</fieldset>
						</div>
					</div>
				</fieldset>
				<div class = "item">
					<fieldset>
						<legend class = "title">&nbsp; Item &nbsp; </legend>
						Inicial: <m-select label="" v-model="filtros.itemIni" :request = "requestItens" :multiple="false" />
						Final: <m-select label="" v-model="filtros.itemFin" :request = "requestItens" :multiple="false" />
					</fieldset>
				</div>
				<fieldset>		
					<legend class = "title">&nbsp; Entidade &nbsp; </legend>
					<div class = "entidade">	
						<div class = "cliente">
							<fieldset>
								<legend>&nbsp; Cliente &nbsp; </legend>
								Inicial:<m-select label="" v-model="filtros.entIni" :request = "requestEnt" :multiple="false" />
								Final:<m-select label="" v-model="filtros.entFin" :request = "requestEnt" :multiple="false" />
							</fieldset>
						</div>
						<div class = "municipio">
							<fieldset>
							<legend>&nbsp; Municipio &nbsp; </legend>
								Inicial:<m-select label="" v-model="filtros.municipioIni" :request = "requestMunicipio" :multiple="false" />
								Final:<m-select label="" v-model="filtros.municipioFin" :request = "requestMunicipio" :multiple="false" />
							</fieldset>
						</div>
						
					</div>
				</fieldset>
			</div>
		</fieldset>
	</template>
	<script>
		const classe = {
			data: {
				opcoesOperacao:[
					{value: 0, label:"Documento de Entrada"},
					{value: 1, label:"Documento de Saída"},
					{value: 2, label:"Pedido de Compra"},
					{value: 3, label:"Pedido de Venda"}
				],
				opcoesTipoOperacao:[
					{value: 0, label:"Compra"},
					{value: 1, label:"Venda"},
					{value: 2, label:"Pedido"},
					{value: 3, label:"Devolução de Compra"},
					{value: 4, label:"Devolução de Venda"},
					{value: 5, label:"Remessa"},
					{value: 6, label:"Retorno"},
					{value: 7, label:"Outras"},
					{value: 99, label:"Todas"}	 
				],
				requestItens: {
					table: 'Abm01',
					columns:'abm01codigo, abm01na',
					where: { abm01tipo: 1}
				},
				requestEnt:{
					table:'Abe01',
					columns:'abe01codigo, abe01na',
					data:{
						customWhere: "abe01codigo LIKE '02%'"
					}
				},
				requestMunicipio:{
					table: 'Aag0201',
					columns:'aag0201nome, aag02uf',
					data: {
						join: {inner: 'aag0201uf'}
					}
				}
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		.title{
			text-align:center;
		}
		.documento{
			display: flex;
		}
		.operacao, .tipoOper{
			width:25%;
		}
		.data{
			width:50%;
		}
		.entidade{
			display:flex;
		}
		.cliente, .municipio{
			width:50%	
		}
	</style>
</html>