<html>
	<template>
		<div class="q-gutter-y-md">
			<div class="row">
				<div class="col-md-12 col-12">
					<fieldset class="fieldsetSam">
						<legend>&nbsp; Naturezas &nbsp;</legend>
						<div class="col-12">
							<m-select v-model="filtros.naturezas" :multiple="true" :request="requestNaturezas" />
						</div>
					</fieldset>
				</div>
				<div class="col-md-12 col-12">
					<fieldset class="fieldsetSam">
					<legend>&nbsp; Período &nbsp;</legend>
						<div class="col-12">
							<m-date-interval label="" v-model="filtros.periodo" :required="true" />
						</div>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-12">
				<fieldset>
					<legend> &nbsp; Imprimir &nbsp;</legend>
					<m-check class="check" label=' Exibir somente o total geral' v-model='filtros.totalGeral' style="display: inline"/>
				</fieldset>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestNaturezas: {
					table:'Abf10',
					columns:'abf10codigo, abf10nome'
					
				},	

				requestCodigoLancamentos: {
					table:'Abf20',
					columns:'abf20codigo, abf20descr'
				}			
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		fieldset{
            height:100%;
        }
	</style>
</html>