<html>
	<template>
		<div class="q-gutter-y-md">
			<div class="row q-gutter-y-md">
				<div class="col-md-2 col-12">
					<fieldset>
						<legend>&nbsp; Número &nbsp;</legend>
							<legend>&nbsp; Inicial/Final &nbsp;</legend>
							<m-input label="" v-model="filtros.numeroInicial" />
		
							<m-input label="" v-model="filtros.numeroFinal" />
					</fieldset>
				</div>
				
				<div class="col-md-10 col-12">
					<div class="row">
						<div class="col-md-12 col-12">	
							<fieldset>
								<legend>&nbsp; Tipo de Documento &nbsp;</legend>
								<m-select label="" v-model="filtros.tipo" :multiple="true" :request="requestTipo"/>
							</fieldset>	
						</div>
						
						<div class="col-md-12 col-12">	
							<fieldset>
								<legend>&nbsp; Entidade &nbsp;</legend>
								<m-select label="" v-model="filtros.entidade" :multiple="true" :request="requestEntidade"/>
							</fieldset>		
						</div>
					</div>
				</div>
			</div>
				
			<div class="row q-gutter-y-md">
				<div class="col-md-6 col-12">
					<fieldset>
						<legend>&nbsp; Emissão &nbsp;</legend>
						<m-date-interval  v-model="filtros.emissao"/>
					</fieldset>
				</div>

				<div class="col-md-6 col-12">
					<fieldset>
						<legend>&nbsp; Entrada / Saida &nbsp;</legend>
						<m-date-interval v-model="filtros.entraSai"/>
					</fieldset>
				</div>
			</div>
		</div>
	</template>
	<script>
	  const classe = {
			data: {
				requestTipo: {
					table: 'Aah01',
					columns: 'aah01codigo, aah01nome',
					where: {aah01di: null}
				},
				requestNumero: {
					table: 'Abb01',
					columns: 'abb01num'
				},
				requestEntidade: {
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
				}
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		fieldset{
			height:100%;
		}
	</style>
</html>