<html>
	<template>
		<div class = "row">
			<div class = "col-md-12 col-12">
				<div class = "row">
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp; Operação &nbsp; </legend>
							<m-select label="" v-model="filtros.operacao" :options="opcoesOperacao" :showClearButton="false" :required="true" />
						</fieldset>
					</div>
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp; Data Entrada/Saída &nbsp; </legend>
							<m-date-interval v-model="filtros.dataEntradaSaida" :required='false' />
						</fieldset>
					</div>
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp; Data Entrega &nbsp; </legend>
							<m-date-interval v-model="filtros.dataEntrega" :required='false' />
						</fieldset>
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-12 col-12">
						<fieldset>				
							<legend>&nbsp; Entidades &nbsp;</legend>
							<m-select label="" v-model="filtros.entidade" :request = "requestEnt" :multiple="true" />
						</fieldset>
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp;Status Carga &nbsp;</legend>
							<m-select :multiple="true" v-model="filtros.statusCarga" :options="opcoes"  />
						</fieldset>
					</div>
					<div class = "col-md-8 col-12">
						<fieldset class = "h-100">
							<legend>&nbsp; Data Emissao &nbsp; </legend>
							<m-date-interval v-model="filtros.dataEmissao" :required='false' />
						</fieldset>
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-12 col-12">
						<fieldset>				
							<legend>&nbsp; Despacho &nbsp;</legend>
							<m-select label="" v-model="filtros.despacho" :request = "requestDesp" :multiple="true" />
						</fieldset>
					</div>
					<div class = "col-md-12 col-12">
						<fieldset>				
							<legend>&nbsp; Redespacho &nbsp;</legend>
							<m-select label="" v-model="filtros.redespacho" :request = "requestRedesp" :multiple="true" />
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestEnt:{
					table:'Abe01',
					columns:'abe01codigo,abe01na'
					
				},
				requestDesp:{
					table:'Abe01',
					columns:'abe01codigo,abe01na',
					where: {
						abe01trans: 1,
					}
					
				},
				requestRedesp:{
					table:'Abe01',
					columns:'abe01codigo,abe01na',
					where: {
						abe01trans: 1
					}
					
				},
				opcoesOperacao:[
					{value:0, label:"Documento de Entrada"},
					{value:1, label:"Documento de Saída"},
				],
				opcoesTipoOperacao:[
					{value:0, label:"Documento SCV"},
					{value:1, label:"Documento SRF"}
				],
				requestPCD:{
					table:'Abd01',
					columns:'abd01codigo, abd01descr'
				},
				requestTipoDoc:{
					table:'Aah01',
					columns:'aah01codigo,aah01nome'
				},
				requestItens:{
					table:'Abm01',
					columns:'abm01codigo,abm01na'
				},
				opcoesAtendimento:[
					{value:0, label:"0-Não Atendido"},
					{value:1, label:"1-Parcialmente Atendido"},
					{value:2, label:"2-Totalmente Atendido"},
				],
				opcoes: [
		            {value: 0, label: '0 - Não Efetuada', option: '0 - Não Efetuada'},
		            {value: 1, label: '1 - Efetuada', option: '1 - Efetuada'},
		            {value: 2, label: '2 - Reentrega', option: '2 - Reentrega'},
		            {value: 3, label: '3 - Devolvido', option: '3 - Devolvido'},
		 
		        ] 
				
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		.operacoes{
			display:flex;
		}
		.situacaoDoc{
			display:flex;
		}
		.dtEmissao{
			width:100%;
		}
	</style>

</html>