<html>
	<template>
		<div class = "main">
			<div class="numDoc">
				<fieldset>
						<legend>&nbsp; Lote &nbsp;</legend>
						<div class="row">
							<div class="col-md-1 col-12">Inicial</div>
							<div class="col-md-5 col-12">
								<m-input v-model="filtros.numeroInicial" style = "width:110px;margin-left:15px"/>
							</div>
							<div class="col-md-1 col-12" style="padding-left: 7px;">Final</div>
							<div class="col-md-5 col-12">
								<m-input v-model="filtros.numeroFinal" style = "width:110px;margin-left:20px"/>
							</div>
						</div>
					</fieldset>
			</div>

			<div class = "despacho">
				<fieldset>				
					<legend>&nbsp; Despacho &nbsp;</legend>
					<m-select label="" v-model="filtros.codDespacho" :request = "requestTransp" :multiple="true" />
				</fieldset>
			</div>
			<div class="data">
				<fieldset>
					<legend>&nbsp; Data Emissao &nbsp; </legend>
					<m-date-interval v-model="filtros.dataEmissao" :required='false' />
				</fieldset>
			</div>
			
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestTransp: {
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
					where: {abe01trans: 1}
				}
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		.main{
			display:flex;
		}
		.numDoc{
			width:25%;
		}
		.data{
			width:25%;
		}
		.despacho{
			width:50%;
		}
		
	</style>
</html>