<html>
	<template>
		<div class = "main">
			<div class = "documento">
				<div class="numDoc">
					<fieldset>
						<legend>&nbsp; Número Documento &nbsp;</legend>
						<div class="row">
							<div class="col-md-1 col-12">Inicial</div>
							<div class="col-md-5 col-12" style="margin-left: 12px;">
								<m-input v-model="filtros.numeroInicial" style="width: 100px;"/>
							</div>
							<div class="col-md-1 col-12" style="margin-left: -30px;">Final</div>
							<div class="col-md-5 col-12" style="margin-left: 9px;" >
								<m-input v-model="filtros.numeroFinal" style="width: 100px;"  />
							</div>
						</div>
					</fieldset>
				</div>

				<div class = "tipoDoc">
					<fieldset>				
						<legend>&nbsp;Tipo Documento &nbsp;</legend>
						<m-select label="" v-model="filtros.tipoDoc" :request = "requestTipoDoc" :multiple="true" />
					</fieldset>
				</div>
			
			</div>
			

			<div class = "datas">
				<div class = "dataEmissao">
				<fieldset>
					<legend>&nbsp; Data Emissao &nbsp; </legend>
					<m-date-interval v-model="filtros.dataEmissao" :required='false' />
				</fieldset>
				</div>
				<div class = "dataEntradaSaida">
					<fieldset>
						<legend>&nbsp; Data Entrada/Saída &nbsp; </legend>
						<m-date-interval v-model="filtros.dataEntradaSaida" :required='false' />
					</fieldset>
				</div>
			</div>
			<div class="Representante">
				<fieldset>				
					<legend>&nbsp; Representante &nbsp;</legend>
					<m-select label="" v-model="filtros.rep" :request = "requestRep" :multiple="true" />
				</fieldset>
			</div>
			<div class="clientes">
				<fieldset>				
					<legend>&nbsp; Entidade &nbsp;</legend>
					<m-select label="" v-model="filtros.ent" :request = "requestEnt" :multiple="true" />
				</fieldset>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestTipoDoc:{
					table:'Aah01',
					columns:'aah01codigo,aah01nome'
				},
				requestRep:{
					table:'Abe01',
					columns:'abe01codigo, abe01na',
					where:{
						abe01rep:1
					}
				},
				requestEnt:{
					table:'Abe01',
					columns:'abe01codigo, abe01na'
				},
				requestItem:{
					table:'Abm01',
					columns:'abm01codigo, abm01na',
					where:{
						abm01tipo: 1
					}
				}
				
					
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		.documento{
			display: flex;
		}
		.numDoc{
			width:30%;
		}
		.tipoDoc{
			width:70%;
		}
		.datas{
			display:flex;
		}
		.dataEmissao, .dataEntradaSaida{
			width:50%; 
		}
	</style>
</html>