<html>
	<template>
	<fieldset>
	        <div class = "row">
	            <div class = "col-md-12 col-12">
	                <div class = "row">
	                    <div class = "col-md-3 col-12">
	                    
	                        <fieldset style = "height:183px">
	                            <legend>&nbsp; Número Ficha &nbsp;</legend>
	                                Inicial <m-input v-model="filtros.numeroInicial"/>
	                                Final <m-input v-model="filtros.numeroFinal"/>
	                        </fieldset>
	                    </div>
	                </div>
	                <div class = "row">
						<div class = "col-md-6 col-12">
		                        <fieldset>
		                            <legend>&nbsp; Data de Fabricação  &nbsp;</legend>
		                            <m-date-interval v-model="filtros.dataFabricacao" />
		                        </fieldset>
	                    	</div>                 
				
						<div class = "col-md-6 col-12">
		                      	<fieldset>
		                            <legend>&nbsp; Data de Validade  &nbsp;</legend>
		                            <m-date-interval v-model="filtros.dataValidade" />
		                         </fieldset>
		                    </div>
			
	                     <div class = "col-md-6 col-12">
	                        <fieldset>
	                            <legend>&nbsp; Data Ficha  &nbsp;</legend>
	                            <m-date-interval v-model="filtros.dataCentralDoc" />
	                        </fieldset>
	                    </div>
	                    <div class = "col-md-6 col-12">
	                        <fieldset>
	                            <legend>&nbsp;Status Ficha &nbsp;</legend>
	                            <m-select :multiple="true" v-model="filtros.statusFicha" :options="opcoes"  />
	                        </fieldset>
	                    </div>
	                </div>
	                <div class = "row">
	                    <div class="col-md-6 col-12">
	                        <fieldset class="h-100">
	                            <legend>&nbsp; Itens &nbsp;</legend>
	                            <label><m-panel-check-mpms v-model="filtros.mps" selectRef="selectItemIni, selectItemFim" :showServico="false" /></label>
	                            <m-select  ref="selectItemIni" :multiple="true" :request="requestItem" v-model="filtros.idsItens" />
	                        </fieldset>
	                    </div>
	                    <div class="col-md-6 col-12">
	                        <fieldset class="h-100">
	                            <legend>&nbsp; Itens de Avaliação &nbsp;</legend>
	                            <m-select :multiple="true" :request="requestItemAvaliacao" v-model="filtros.itensAvaliacao" />
	                        </fieldset>
	                    </div>
	                </div>
	                
	        </div>
        </fieldset>
	</template>
	<script>
		const classe = {
			data:{
				opcoes: [
			            {value: 0, label: '0 - Criada', option: '0 - Criada'},
			            {value: 1, label: '1 - Em processo', option: '1 - Em processo'},
			            {value: 2, label: '2 - Analizada', option: '2 - Analizada'},
			            {value: 3, label: '3 - Emcerrada-Sem-Restriçoes', option: '3 - Emcerrada-Sem-Restriçoes'},
			            {value: 4, label: '4 - Emcerrada-Com-Restriçoes', option: '4 - Emcerrada-Com-Restriçoes'},
			            {value: 5, label: '5 - Emcerrada-Restriçoes', option: '5 - Emcerrada-Restriçoes'},
		         ],
		         requestItem:{
					table:'Abm01',
					columns:'abm01codigo,abm01na'
					
				},
				requestItemAvaliacao:{
					table:'Abm50',
					columns:'abm50codigo,abm50descr'
					
				},
				requestCampos:{
					table: 'aba6001',
					columns: 'aah02descr',
					iniFimColumn:"aah02nome",
					data:{
						join:{
							left:"aba6001cpoVlr",
							inner:"aba6001alin"
						},
						where: {
							aba60codigo: '5002'
						}
					}
				},
			},
			
					
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>