<html>
	<template>
		<div class = "row">
			<div class = "col-md-12">
				<div class = "row">
					<div class = "col-md-2 col-12">
						<fieldset>
							<legend>&nbsp; Número &nbsp;</legend>
								Inicial: <m-input label="" v-model="filtros.numeroInicial" />
								Final: <m-input label="" v-model="filtros.numeroFinal" />
						</fieldset>
					</div>
					<div class = "col-md-10 col-12">
							<fieldset>
								<legend>&nbsp; Tipo de Documento &nbsp;</legend>
								<m-select label="" v-model="filtros.tipoDoc" :multiple="true" :request="requestTipoDoc" />
							</fieldset>
							<fieldset>
								<legend>&nbsp; Itens &nbsp;</legend>
								<m-select label="" v-model="filtros.itens" :multiple="true" :request="requestItens" />
							</fieldset>
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp; Data Emissao &nbsp; </legend>
							<m-date-interval v-model="filtros.dataEmissao" :required='false' />
						</fieldset>
					</div>
					<div class = "col-md-8 col-12">
						<fieldset>
							<legend>&nbsp; PLE &nbsp;</legend>
							<m-select label="" v-model="filtros.tipo" :multiple="true" :request="requestTipo" />
						</fieldset>
					</div>
				</div>
				<div class = "row">
						<div class="col-md-4 col-12">
							<fieldset>
								<legend>&nbsp; Status &nbsp;</legend>
								Inicial:<m-select label="" v-model="filtros.statusInicial" :multiple="false" :request="requestStatus" />
								Final: <m-select label="" v-model="filtros.statusFinal" :multiple="false" :request="requestStatus" />
							</fieldset>
						</div>
						<div class="col-md-4 col-12">
							<fieldset>
								<legend>&nbsp; Local &nbsp;</legend>
								Inicial:<m-select label="" v-model="filtros.localInicial" :multiple="false" :request="requestLocal" />
								Final: <m-select label="" v-model="filtros.localFinal" :multiple="false" :request="requestLocal" />
							</fieldset>
						</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestTipoDoc:{
					table: 'Aah01',
					columns: 'aah01codigo,aah01nome'
				},
				requestStatus:{
					table: 'Aam04',
					columns: 'aam04codigo',
					iniFimColumn:'aam04codigo'
				},
				requestLocal:{
					table: 'Abm15',
					columns:'abm15nome',
					iniFimColumn:'abm15nome'
				},
				requestItens:{
					table:'abm01',
					columns:'abm01codigo, abm01na',
					data:{
						customWhere: "abm01tipo <> 2"
					}
				},
				requestTipo:{
					table:'Abm20',
					columns:'abm20codigo, abm20descr'
				}
				
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	
</html>