<html>
	<template>
		<div class = "row">
			<div class = "col-md-12 col-12">
				<div class = "row">
					<div class = "col-md-8 col-12">
						<fieldset>
							<legend>&nbsp; Representante &nbsp; </legend>
							<m-select label="" v-model="filtros.representante" :request = "requestRep" :multiple="true" />
						</fieldset>
					</div>
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp; Ordenação &nbsp; </legend>
							<m-radio class="radioOrdem" label=' Codigo' option="0" name="ordem" v-model='filtros.ordem'/>
							<m-radio class="radioOrdem" label=' Nome' option="1" name="ordem" v-model='filtros.ordem'/>
						</fieldset>
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp; Emissão &nbsp; </legend>
							<m-date-interval v-model="filtros.dataEmissao" :required='false' />
						</fieldset>
					</div>
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp; Vencimento Nominal &nbsp; </legend>
							<m-date-interval v-model="filtros.dataNominal" :required='false' />
						</fieldset>
					</div>
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp; Pagamento &nbsp; </legend>
							<m-date-interval v-model="filtros.dataPagamento" :required='false' />
						</fieldset>
					</div>
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp; Baixa  &nbsp; </legend>
							<m-date-interval v-model="filtros.dataBaixa" :required='false' />
						</fieldset>
					</div>
					
				</div>
				<div class = "row">
					<div class = "col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Tipo &nbsp;</legend>
							<m-select label="" :multiple="true" v-model="filtros.tipo" :request="requestTipo"/>
						</fieldset>
					</div>
					<div class = "col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Entidades &nbsp;</legend>
							<m-select label="" :multiple="true" v-model="filtros.entidade" :request="requestEntidade" />								
						</fieldset>
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp; Crédito &nbsp; </legend>
							<m-date-interval v-model="filtros.dataCredito" :required='false' />
						</fieldset>
					</div>
					<div class = "col-md-2 col-12">
						<fieldset>
							<legend>&nbsp; Cálculo &nbsp; </legend>
							<m-radio class="radioCalculo" label=' Com Calculo' option="0" name="calculo" v-model='filtros.calculo'/>
							<m-radio class="radioCalculo" label=' Sem Calculo' option="1" name="calculo" v-model='filtros.calculo'/>
							<m-radio class="radioCalculo" label=' Nenhum' option="2" name="calculo" v-model='filtros.calculo'/>
						</fieldset>
						
					</div>
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp; Data Calculo &nbsp; </legend>
							<m-date-interval v-model="filtros.dataCalculo" :required='false' />
						</fieldset>
					</div>
					<div class = "col-md-2 col-12">
						<fieldset>
							<legend>&nbsp; Detalhamento &nbsp; </legend>
							<m-radio class="radioDetalhamento" label=' Sintetico' option="0" name="detalhamento" v-model='filtros.detalhamento'/>
							<m-radio class="radioDetalhamento" label=' Analítico' option="1" name="detalhamento" v-model='filtros.detalhamento'/>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestRep:{
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
					data:{
						customWhere: null
					}
					
				},
				requestTipo: {
					table: 'Aah01',
					columns: 'aah01codigo, aah01nome',
					where: {aah01di: null}
				},
				requestEntidade: {
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
				},
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>