<html>
	<template>
		<div class = "row">
			<div class = "col-md-12">
				<div class = "row">
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp; Representante &nbsp; </legend>
							Inicial<m-select label="" v-model="filtros.representanteIni" :request = "requestRep" :multiple="false" />
							Final<m-select label="" v-model="filtros.representanteFin" :request = "requestRep" :multiple="false" />
						</fieldset>
					</div>
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp; Ordenação &nbsp; </legend>
							<m-radio class="radioOrdem" label=' Numero Documento' option="0" name="ordenacao" v-model='filtros.ordem' />
							<m-radio class="radioOrdem" label=' Nome Entidade' option="1" name="ordenacao" v-model='filtros.ordem' /> 
						</fieldset>
					</div>
					<div class = "col-md-4 col-12 ">
						<fieldset style = "height:73px">
							<legend>&nbsp; Impressão: &nbsp;</legend>
							<m-radio class="radioOrdem" label=' PDF' option="0" name="impressao" v-model='filtros.impressao' style="display: inline" />
							<m-radio class="radioOrdem" label=' Excel' option="1" name="impressao" v-model='filtros.impressao' style="display: inline" /> 
						</fieldset>
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-2">
						<fieldset>
							<legend>&nbsp; Data Calculo &nbsp; </legend>
							<div class = "row">
								<m-date v-model="filtros.dataCalculo" :required='false' />
							</div>
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestRep:{
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
					iniFimColumn: 'abe01codigo',
					where:{
						abe01rep: 1
					}	
				},
			},
			onLoad: function () {
			},
			methods: {}
		}
	</script>
</html>