<html>
<template>

<div class="row">
	<div class="col-4">
		<fieldset>
			<legend>
				<b>Entidades</b>
			</legend>
			<legend> Inicial/Final</legend>
			<m-select v-model="filtros.entidadeInicial" :request="requestEntidadeInicial" @change="verificaIni" />
			<m-select v-model="filtros.entidadeFinal" :request="requestEntidadeFinal" @change="verificaFim" />
		</fieldset>
	</div>
	<div class="col-4">
		<fieldset>
			<legend>
				<b>Portador</b>
			</legend>
			<legend> Inicial/Final</legend>
			<m-select v-model="filtros.portadorInicial" :request="requestPortadorInicial" @change="verificaPortIni" />
			<m-select v-model="filtros.portadorFinal" :request="requestPortadorFinal" @change="verificaPortFim" />
		</fieldset>
	</div>
	<div class="col-4">
		<fieldset>
			<legend>
				<b>Operação</b>
			</legend>
			<legend> Inicial/Final</legend>
			<m-select v-model="filtros.operacaoInicial" :request="requestOperacaoInicial" @change="verificaOpeIni" />
			<m-select v-model="filtros.operacaoFinal" :request="requestOperacaoFinal" @change="verificaOpeFim" />
		</fieldset>
	</div>
</div>

<div class="row">
	<div class="col-6">
		<fieldset>
			<legend>
				<b>Imprimir contas a receber</b>
			</legend>
			<legend>Vencimento</legend>
			<m-date-interval v-model="filtros.receber" />
		</fieldset>
	</div>
	<div class="col-6">
		<fieldset>
			<legend>
				<b>Imprimir contas recebidas</b>
			</legend>
			<legend>Recebimento</legend>
			<m-date-interval v-model="filtros.recebidas" />
		</fieldset>
	</div>
</div>
<div class="row">
	<div class="col-6">
		<fieldset>
			<legend>
				<b>Imprimir contas a pagar</b>
			</legend>
			<legend>Vencimento</legend>
			<m-date-interval v-model="filtros.pagar" />
		</fieldset>
	</div>
	<div class="col-6">
		<fieldset>
			<legend>
				<b>Imprimir contas pagas</b>
			</legend>
			<legend>Pagamento</legend>
			<m-date-interval v-model="filtros.pagas" />
		</fieldset>
	</div>
</div>
<div class="row">
	<div class="col-3">
		<fieldset>
			<legend>
				<b>Vencimento </b>
			</legend>
			<m-radio v-model="filtros.vencimento" label=" Nominal" option="0" name="vencimento" />
			<m-radio v-model="filtros.vencimento" label=" Real" option="1"  name="vencimento" />
		</fieldset>
	</div>
	<div class="col-3">
		<fieldset>
			<legend>
				<b>Tipo </b>
			</legend>
			<m-radio v-model="filtros.classe" label=" Real" option="0" name="classe" />
			<m-radio v-model="filtros.classe" label=" Previsão" option="1" name="classe" />
			<m-radio v-model="filtros.classe" label=" Ambos" option="2" name="classe" />
		</fieldset>
	</div>
	<div class="col-3">
		<fieldset>
			<legend>
				<b>Ordem </b>
			</legend>
			<m-radio v-model="filtros.ordem" label=" Vencimento" option="0" name="ordem" />
			<m-radio v-model="filtros.ordem" label=" Documento" option="1" name="ordem" />
		</fieldset>
	</div>
	<div class="col-3">
		<fieldset>
			<legend><b>Imprimir em </b></legend>
			<m-radio v-model="filtros.imprimir" label=" XLS" option="0"	name="imprimir" />
			<m-radio v-model="filtros.imprimir" label=" PDF" option="1"	name="imprimir" />
		</fieldset>
	</div>

</div>
<div class="row">
	<div class="col-3">
		<m-check v-model="filtros.forma" label="Imprimir Forma de Pagamento" />
	</div>

</div>
</template>
<script>
	const classe = {
		data : {
			requestEntidadeInicial : {
				table : "abe01",
				columns : "abe01codigo, abe01na",
				iniFimColumn : "abe01codigo",
				data : {
					customWhere : null
				}
			},
			requestEntidadeFinal : {
				table : "abe01",
				columns : "abe01codigo, abe01na",
				iniFimColumn : "abe01codigo",
				data : {
					customWhere : null
				}

			},
			requestPortadorInicial : {
				table : "abf15",
				columns : "abf15codigo, abf15nome",
				iniFimColumn : "abf15codigo",
				data : {
					customWhere : null
				}
			},
			requestPortadorFinal : {
				table : "abf15",
				columns : "abf15codigo, abf15nome",
				iniFimColumn : "abf15codigo",
				data : {
					customWhere : null
				}
			},
			requestOperacaoInicial : {
				table : "abf16",
				columns : "abf16codigo, abf16nome",
				iniFimColumn : "abf16codigo",
				data : {
					customWhere : null
				}
			},
			requestOperacaoFinal : {
				table : "abf16",
				columns : "abf16codigo, abf16nome",
				iniFimColumn : "abf16codigo",
				data : {
					customWhere : null
				}
			}
		},
		onLoad : function() {
		},
		methods : {
			verificaIni : function() {
				if (this.filtros.entidadeInicial != null) {
					this.requestEntidadeFinal.data.customWhere = " abe01codigo >= '"
							+ this.filtros.entidadeInicial + "'"
				} else {
					this.requestEntidadeFinal.data.customWhere = null
				}
			},
			verificaFim : function() {
				if (this.filtros.entidadeFinal != null) {
					this.requestEntidadeInicial.data.customWhere = " abe01codigo <= '"
							+ this.filtros.entidadeFinal + "'"
				} else {
					this.requestEntidadeInicial.data.customWhere = null
				}
			},
			verificaPortIni : function() {
				if (this.filtros.portadorInicial != null) {
					this.requestPortadorFinal.data.customWhere = " abf15codigo >= '"
							+ this.filtros.portadorInicial + "'"
				} else {
					this.requestPortadorFinal.data.customWhere = null
				}
			},
			verificaPortFim : function() {
				if (this.filtros.portadorFinal != null) {
					this.requestPortadorInicial.data.customWhere = " abf15codigo <= '"
							+ this.filtros.portadorFinal + "'"
				} else {
					this.requestPortadorInicial.data.customWhere = null
				}
			},
			verificaOpeIni : function() {
				if (this.filtros.operacaoInicial != null) {
					this.requestOperacaoFinal.data.customWhere = " abf16codigo >= '"
							+ this.filtros.operacaoInicial + "'"
				} else {
					this.requestOperacaoFinal.data.customWhere = null
				}
			},
			verificaOpeFim : function() {
				if (this.filtros.operacaoFinal != null) {
					this.requestOperacaoInicial.data.customWhere = " abf16codigo <= '"
							+ this.filtros.operacaoFinal + "'"
				} else {
					this.requestOperacaoInicial.data.customWhere = null
				}
			}
		}
	}
</script>

</html>
tml>