<html>
	<template>
		<div class = "row">
			<div class = "col-md-12 com-12">
				<div class = "row">
					<div class = "col-md-8 col-12">
						<fieldset class = "h-100">
							<legend>&nbsp; Adiantamentos &nbsp;</legend>
							<m-select v-model="filtros.adiantamentos" :multiple="true" :request="requestAdiantamento" />
						</fieldset>
					</div>
					<div class = "col-md-4 col-12">
						<fieldset class = "h-100">
							<legend>&nbsp; Tipo &nbsp;</legend>
							<m-radio class="radioOrdem" label=' Ambos' option="0" name="tipo" v-model='filtros.tipo' />
							<m-radio class="radioOrdem" label=' Amortizações' option="1" name="tipo" v-model='filtros.tipo' /> 
							<m-radio class="radioOrdem" label=' Adiantamentos' option="2" name="tipo" v-model='filtros.tipo' /> 
						</fieldset>
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-12 col-12">
						<fieldset>
							<legend>&nbsp; Entidades &nbsp;</legend>
							<m-select label="" :multiple="true" v-model="filtros.entidades" :request="requestEntidade" />								
						</fieldset>
					</div>
				</div>
				<div class = "row">
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp; Período &nbsp;</legend>	
							<m-date-interval v-model="filtros.periodo" :required="true" />
						</fieldset>
					</div>
				</div>
				<div class = "row">
					<div class="col-md-4 col-12">
						<fieldset style = "height: 75px">
							<legend>&nbsp; Impressão: &nbsp;</legend>
							<m-radio class="radioOrdem" label=' PDF' option="0" name="impressao" v-model='filtros.impressao' style="display: inline" />
							<m-radio class="radioOrdem" label=' Excel' option="1" name="impressao" v-model='filtros.impressao' style="display: inline" /> 
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestAdiantamento: {
					table:'Dad01',
					columns:'dad01nome'
				},
				requestEntidade: {
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
				},
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>