<html>
	<template>
		
		<div class="row">
			<div class="col-4">
				<fieldset>
					<legend> Número</legend>
					<legend> Inicial/Final</legend>
					<m-input label="" v-model="filtros.numeroInicial" type="integer" :required="true"/>
					<m-input label="" v-model="filtros.numeroFinal" type="integer":required="true" />
				</fieldset>
			</div>	
			
			<div class="col-8">
				<fieldset>
					<legend>Representante</legend>
					<legend> Inicial/Final</legend>
					<m-select v-model="filtros.representanteInicial"  :request="requestRepresentanteInicial" @change="verificaIni" />
					<m-select v-model="filtros.representanteFinal"  :request="requestRepresentanteFinal"  @change="verificaFim"/>
				</fieldset>
				
			</div>
			
		</div>
		<div class="row">
			
			<div class="col-2">
				<fieldset>
					<legend>Classe</legend>
					<m-radio v-model="filtros.classe" label=" A receber" option="0" name="classe" />
					<m-radio v-model="filtros.classe" label=" Receber/Recebidos" option="1" name="classe" />					
				</fieldset>
			</div>
			<div class="col-4">
				<fieldset>
					<legend>Emissão</legend>
					<m-date-interval v-model="filtros.emissao" />
				</fieldset>
			</div>
			<div class="col-4">
				<fieldset>
					<legend>Vencimento</legend>
					<m-date-interval v-model="filtros.vencimento" />
				</fieldset>
			</div>
			<div class="col-2">
				<fieldset>
					<legend>Imprimir em </legend>
					<m-radio v-model="filtros.imprimir" label=" XLS" option="0" name="imprimir" />
					<m-radio v-model="filtros.imprimir" label=" PDF" option="1" name="imprimir" />					
				</fieldset>
			</div>
		</div>
		
	</template>
	<script>
		const classe = {
			data: {
				requestRepresentanteInicial:{
					table:"abe01",
					columns:"abe01codigo, abe01na",
					iniFimColumn:"abe01codigo",
					where:{abe01rep : 1},
					data:{
						customWhere : null
					}
				},
				requestRepresentanteFinal:{
					table:"abe01",
					columns:"abe01codigo, abe01na",
					iniFimColumn:"abe01codigo",
					where:{abe01rep : 1 },
					data:{
						customWhere : null
					}
					
				}
			},
			onLoad: function () {},
			methods: {
				verificaIni: function(){
					if(this.filtros.representanteInicial != null){
						this.requestRepresentanteFinal.data.customWhere = " abe01codigo >= '" + this.filtros.representanteInicial +"'"
					}else{
						this.requestRepresentanteFinal.data.customWhere = null
					}
				},
				verificaFim:function(){
					if(this.filtros.representanteFinal != null){
						this.requestRepresentanteInicial.data.customWhere = " abe01codigo <= '" + this.filtros.representanteFinal +"'"
					}else{
						this.requestRepresentanteInicial.data.customWhere = null
					}
				}
			}
		}
	</script>

</html>