<html>
	<template>
		<div class="q-gutter-y-md">
			<div>
				<fieldset style="width: 99%">
					<legend>&nbsp; Empresa &nbsp;</legend>
					<m-select label= "" :multiple="true"  v-model="filtros.Empresa" :request="requestEmprs" placeholder="Empresa Ativa" selectFirstOnLoad="true" />
				</fieldset>
				
				<div class="row q-gutter-y-md">
					<div>
						<fieldset>
							<legend>&nbsp; Classe &nbsp;</legend>
							<m-radio v-model="filtros.classe" option="0" label="A receber" />
							<m-radio v-model="filtros.classe" option="1" label="Recebidos" />
							<m-radio v-model="filtros.classe" option="2" label="A Pagar" />
							<m-radio v-model="filtros.classe" option="3" label="Pagos" />
						</fieldset>
					</div>
					<div>
						<fieldset>
							<legend>&nbsp; Ordem &nbsp;</legend>
							<m-radio v-model="filtros.ordem" option="0" label="Número" />
							<m-radio v-model="filtros.ordem" option="1" label="Vencimento Nominal" />
						</fieldset>
					</div>
					<div>
						<fieldset>
							<legend>&nbsp; Exportar &nbsp;</legend>
							<m-radio v-model="filtros.exportar" option="0" label="PDF (.pdf)" />
							<m-radio v-model="filtros.exportar" option="1" label="Excel (.xls)" />
						</fieldset>
					</div>
					<div class="col-md-6 col-12">
						<fieldset style="width: 97%">
							<legend>&nbsp; Tipo de Documentos &nbsp;</legend>
						<m-select label="" :multiple="true" v-model="filtros.documento" :request="requestTipoDoc" placeholder="Todos" selectFirstOnLoad="true" />
						</fieldset>
					</div>
						<fieldset style="width: 18%;">
							<legend>&nbsp; Número &nbsp;</legend>
							<div class="col-md-6 col-12">
								<m-input label=Inicial v-model="filtros.numeroInicial" :request="requestCentral" />
							</div>
							<div class="col-md-6">
								<m-input label="Final" v-model="filtros.numeroFinal" :request="requestCentral" />
							</div>
						</fieldset>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-12">
					<fieldset>
						<legend>&nbsp; Portador &nbsp;</legend>
						<div class="col-md-6">
							<m-select label="" :multiple="true" v-model="filtros.portador" :request="requestPortador" />
						</div>
					</fieldset>
				</div>
				<div class="col-md-6 col-12">
					<fieldset>
						<legend>&nbsp; Operação &nbsp;</legend>
						<div class="col-md-6">
							<m-select label="" :multiple="true" v-model="filtros.oper" :request="requestOper" />
						</div>
					</fieldset>
				</div>		
			</div>
			<div>
			<fieldset>
				<legend>&nbsp; Entidade &nbsp;</legend>
				<m-select label="" :multiple="true" v-model="filtros.entidade" :request="requestEntidades" />
			</fieldset>
			</div>
			</div>
					<div class="row q-gutter-y-md">
						<div class="col-md-6 col-12">
							<fieldset>
								<legend>
									&nbsp;
									<m-radio class="radioVcto" v-model="filtros.opcVcto" option="0" label="Nominal" style="display: inline" />
									&nbsp;
									<m-radio class="radioVcto" v-model="filtros.opcVcto" option="1" label="Real" style="display: inline"/> 
									&nbsp;
									&nbsp; (Vencimento) &nbsp;
								</legend>
								<m-date-interval v-model="filtros.dataVenc" />
							</fieldset>
						</div>
						<div class="col-md-6 col-12">
							<fieldset>
								<legend>&nbsp; Emissão &nbsp;</legend>
								<m-date-interval v-model="filtros.dataEmissao" />
							</fieldset>
						</div>
			
						<div class="col-md-12 col-12">
							<fieldset>
								<legend>
									&nbsp;
									<m-radio class="radioOrdem" v-model="filtros.tipoData" option="0" label="Pagamento" style="display: inline" />
									&nbsp;
									<m-radio class="radioOrdem" v-model="filtros.tipoData" option="1" label="Baixa" style="display: inline"/> 
									&nbsp;
								</legend>
								<m-date-interval v-model="filtros.dataPagBaixa" />
							</fieldset>
						</div>
						<div class="col-md-12 col-12">
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data : {
				requestEmprs: {
					table: 'aac10',
					columns: 'aac10codigo, aac10na'
				},
				requestPortador : {
					table : 'abf15',
					columns : 'abf15codigo, abf15nome',
				},
				requestOperacao : {
					table : 'abf16',
					columns : 'abf16plfRec, abf16nome'
				},
				requestCodLancamentos : {
					table : 'abf20',
					columns : 'abf20codigo, abf20descr'
				},
	
				requestCentral : {
					table : 'abb01',
					columns : 'abb01num'
				},
	
				requestTipoDoc : {
					table : 'aah01',
					columns : 'aah01codigo, aah01nome'
				},
	
				requestEntidades : {
					table : 'abe01',
					columns : 'abe01codigo, abe01na, abe01nome'
				},
				requestPortador : {
					table : 'abf15',
					columns : 'abf15codigo, abf15nome'
				},
				requestOper : {
					table : 'abf16',
					columns : 'abf16codigo, abf16nome'
				},
	
			},
			onLoad : function() {
			},
			methods : {}
		}
	</script>
	<style>
		input[type="radio"] {
			margin-right: 5px;
		}
		
		fieldset {
			height: 100%;
		}
		
		.d-inline {
			display: inline;
			padding-left: 10px;
		}
		
		.input {
			border: none;
			Background-color: #EEEEEE;
		}
	</style>
</html>