<html>
	<template>
		<div class="q-gutter-y-md">
			<fieldset>
				<legend>&nbsp; Documentos &nbsp;</legend>
				<div class="row">
					<div class="col-md-10 col-12">
						<fieldset class="fieldsetSam">
							<legend>&nbsp; Banco &nbsp;</legend>
							<m-select label="" :multiple="true" v-model="filtros.banco" :request="requestBanco" :required="true"/>
						</fieldset>
					</div>
					<div class="col-md-2 col-12">
						<fieldset class="fieldsetSam">
							<legend>&nbsp; Movimento &nbsp;</legend>
							<m-input label="" v-model="filtros.movimento" :request="requestIntegBanc" :required="false"/>
						</fieldset>
					</div>	
				</div>	
				
				<div class="row">
					<div class="col-md-12 col-12">
						<fieldset>
							<legend>&nbsp; Entidades &nbsp;</legend>
							<m-select label="" :multiple="true" v-model="filtros.entidade" :request="requestEntidades" />
						</fieldset>
					</div>
				</div>
			
				<div class="row">
					<div class="col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Número &nbsp;</legend>
							<div class="row">
								<div class="col-md-1 col-12">Inicial</div>
								<div class="col-md-5 col-12">
									<m-input v-model="filtros.numeroInicial" :request="requestCentral" />
								</div>
								<div class="col-md-1 col-12" style="padding-left: 7px;">Final</div>
								<div class="col-md-5 col-12">
									<m-input v-model="filtros.numeroFinal" :request="requestCentral" />
								</div>
							</div>
						</fieldset>
					</div>
					<div class="col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Vencimento &nbsp;</legend>
							<m-date-interval v-model="filtros.dataVenc" />
						</fieldset>
					</div>
				</div>
			</fieldset>
			
			<div class="row">
				<div class="col-md-4 col-12">
					<fieldset>
						<legend>&nbsp; Data de Processamento &nbsp;</legend>
						<m-date v-model="filtros.dataProc" />
					</fieldset>
				</div>
				<div class="col-md-4 col-12">
					<fieldset>
						<legend>&nbsp; Carteira &nbsp;</legend>
						<m-input v-model="filtros.carteira" />
					</fieldset>
				</div>
				<div class="col-md-4 col-12">
					<fieldset>
						<legend>&nbsp; Aceite &nbsp;</legend>
						<m-input v-model="filtros.aceite" />
					</fieldset>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12 col-12">
					<fieldset>
						<legend>&nbsp; Instruções &nbsp;</legend>
						<m-input v-model="filtros.instrucao1" />
						<m-input v-model="filtros.instrucao2" />
						<m-input v-model="filtros.instrucao3" />
					</fieldset>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 col-12">
					<fieldset>
						<legend>&nbsp; Sacador/Avalista &nbsp;</legend>
						<m-input v-model="filtros.sacadorAvalista" />
					</fieldset>
				</div>
				<div class="col-md-4 col-12">
					<fieldset>
						<legend>&nbsp; CNPJ/CPF &nbsp;</legend>
						<m-input v-model="filtros.cnpj" v-mask="['###.###.###-##', '##.###.###/####-##']"/>
					</fieldset>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data : {
				requestBanco : {
					table : 'abf01',
					columns : 'abf01codigo, abf01nome',
				},
	
				requestEntidades : {
					table : 'abe01',
					columns : 'abe01codigo, abe01na'
				},
	
				requestIntegBanc : {
					table : 'daa0102',
					columns : 'daa0102doc, daa0102movim'
				},
	
				requestCentral : {
					table : 'abb01',
					columns : 'abb01num'
				},
	
			},
			onLoad : function() {
			},
			methods : {}
		}	
	</script>
	<style>
		input[type="radio"] {
			margin-right:5px;
		}
		fieldset{
			height:100%;
		}
		.d-inline{
			display: inline;
			padding-left: 10px;
		}
		.input{
			border:none;
			Background-color: #EEEEEE; 
		}		
	</style>
</html>