<html>
	<template>
		<div class="q-gutter-y-md">
			<div class="row">
				<div class="col-md-12 col-12">
					<fieldset class="fieldsetSam">
						<legend>&nbsp; Naturezas &nbsp;</legend>
						<div class="col-12">
							<m-select v-model="filtros.naturezas" :multiple="true" :request="requestNaturezas" />
						</div>
					</fieldset>
					
					<fieldset class="fieldsetSam">
						<legend>&nbsp; Contas Correntes &nbsp;</legend>
						<div class="col-12">
							<m-select v-model="filtros.contaCorrente" :multiple="true" :request="requestContaCorrente"/>
						</div>
					</fieldset>	
				</div>
				
				<div class="col-md-12 col-12">
					<fieldset class="fieldsetSam">
					<legend>&nbsp; Período &nbsp;</legend>
						<div class="col-12">
							<m-date-interval label="" v-model="filtros.periodo" :required="true" />
						</div>
					</fieldset>
				</div>
				
				<div class="col-md-3 col-12">	
					<fieldset>
						<legend> &nbsp; Imprimir &nbsp;</legend>
						<m-check class="check" label=' Exibir somente o total geral' v-model='filtros.totalGeral' style="display: inline"/>
					</fieldset>		
				</div>				
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestNaturezas: {
					table:'Abf10',
					columns:'abf10codigo, abf10nome'
					
				},	
				requestContaCorrente: {
					table:'Dab01',
					columns:'dab01codigo, dab01nome'
					
				},
				requestCodigoLancamentos: {
					table:'Abf20',
					columns:'abf20codigo, abf20descr'
				}			
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		.inputImprimir{
			margin-left: 10px;
			margin-top: -10px; 
		}
		.teste{
			color: #00F;
		}
		.check{
			margin-top: 10px;
		}
		.fieldsetSam{
			margin-bottom: 10px;
		}
	</style>	
</html>