<html>
	<template>
		<div class = "row">
			<div class = "col-md-12 col-12">
				<div class = "row">
					<div class="col-md-4 col-12">
						<fieldset>
							<legend>&nbsp; Empresas &nbsp;</legend>
							<m-select v-model="filtros.empresa" :multiple="true" placeholder="Empresa Ativa" :request="rqEmps"/>
						</fieldset>
					</div>
					
					<div class="col-md-5 col-12">
						<fieldset>
							<legend>&nbsp; Data Documento &nbsp;</legend>
							<div class="col-12">
								<m-date-interval v-model="filtros.dtDocumento" :required="false" />
							</div>
						</fieldset>
					</div>
					<div class="col-md-3 col-12">
						<fieldset>
							<legend>&nbsp; Saldo Inicial&nbsp;</legend>
							<div class="col-12">
								<m-input v-model="filtros.saldoIni" />
							</div>
						</fieldset>
					</div>
					<div class="col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Vcto Nominal &nbsp;</legend>
							<div class="col-12">
								<m-date-interval v-model="filtros.dtVcton" :required="false" />
							</div>
						</fieldset>
					</div>
					<div class="col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Vcto Real &nbsp;</legend>
							<div class="col-12">
								<m-date-interval v-model="filtros.dtVctor" :required="false" />
							</div>
						</fieldset>
					</div>
					<div class="col-md-12 col-12">
						<fieldset class="fieldsetSam">
							<legend>&nbsp; Tipo Documento &nbsp;</legend>
							<m-select v-model="filtros.tipoDoc" :multiple="true" :request="rqTipoDoc" :adicionaWherePadrao="false" />
						</fieldset>
					</div>
					<div class = "col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Naturezas &nbsp;</legend>
							<m-select v-model="filtros.naturezas" :multiple="true" :request="requestNaturezas" />
						</fieldset>
					</div>
					<div class = "col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Entidades &nbsp;</legend>
							<m-select label="" :multiple="true" v-model="filtros.entidades" :request="requestEntidade" />								
						</fieldset>
					</div>
					<div class = "col-md-2 col-12">
						<fieldset class = "h-100">
							<legend>&nbsp; Movimentação &nbsp;</legend>
							<m-radio label=' Recebimentos' option="0" name="movimentacao" v-model='filtros.movimentacao' />
							<m-radio label=' Pagamentos' option="1" name="movimentacao" v-model='filtros.movimentacao' /> 
							<m-radio label=' Ambos' option="2" name="movimentacao" v-model='filtros.movimentacao' /> 
							
						</fieldset>
					</div>
					<div class = "col-md-2 col-12">
						<fieldset class = "h-100">
							<legend>&nbsp; Pago/A Pagar &nbsp;</legend>
							<m-radio label=' Pagos' option="0" name="pagamento" v-model='filtros.pagamento' />
							<m-radio label=' A Pagar' option="1" name="pagamento" v-model='filtros.pagamento' /> 
							<m-radio label=' Ambos' option="2" name="pagamento" v-model='filtros.pagamento' /> 
						</fieldset>
					</div>
					<div class = "col-md-3">
						<fieldset class = "h-100">
							<legend>&nbsp; Impressão: &nbsp;</legend>
							<m-radio class="radioOrdem" label=' PDF' option="0" name="impressao" v-model='filtros.impressao' style="display: inline" />
							<m-radio class="radioOrdem" label=' Excel' option="1" name="impressao" v-model='filtros.impressao' style="display: inline" /> 
						</fieldset>
					</div>
					<div class = "col-12">
						<m-check v-model="filtros.imprimirNatureza" label="Imprimir Natureza"  />
					</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				rqEmps : {
					table : 'Aac01',
					columns : 'aac01codigo, aac01nome'
				},
				requestCC : {
					table : 'Dab01',
					columns : 'dab01codigo, dab01nome',
					data : {
						customWhere : null,
					}
				},
				rqTipoDoc:{
					table: 'Aah01',
					columns: 'aah01codigo, aah01nome'
				},
				requestNaturezas: {
					table:'Abf10',
					columns:'abf10codigo, abf10nome'
					
				},
				requestEntidade: {
					table: 'Abe01',
					columns: 'abe01codigo, abe01na',
				},
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>