<html>
	<template>
		<div class="q-gutter-y-md">
			<div class="row">
				<div class="col-md-12 col-12">
					<fieldset class="fieldsetSam">
						<legend>&nbsp; Contas Correntes &nbsp;</legend>
						<div class="col-12">
							<m-select v-model="filtros.contaCorrente" :multiple="true" :request="requestContaCorrente" />
						</div>
					</fieldset>
				</div>
				<div class="col-md-8 col-12">
					<fieldset class="fieldsetSam">
						<legend>&nbsp; Período &nbsp;</legend>
							<m-date-interval label="" v-model="filtros.periodo" :required="true" />
					</fieldset>
				</div>
				<div class="col-md-4 col-12">
					<fieldset style = "height: 75px">
						<legend>&nbsp; Impressão: &nbsp;</legend>
						<m-radio class="radioOrdem" label=' PDF' option="0" name="impressao" v-model='filtros.impressao' style="display: inline" />
						<m-radio class="radioOrdem" label=' Excel' option="1" name="impressao" v-model='filtros.impressao' style="display: inline" /> 
					</fieldset>
				</div>
				<div class = "col-md-4 col-12">
					<fieldset class = "h-100">
						<legend>&nbsp; Conciliação &nbsp;</legend>
						<m-radio class="radioOrdem" label=' Não Conciliados' option="0" name="tipo" v-model='filtros.conciliacao' />
						<m-radio class="radioOrdem" label=' Conciliados' option="1" name="tipo" v-model='filtros.conciliacao' /> 
						<m-radio class="radioOrdem" label=' Ambos' option="2" name="tipo" v-model='filtros.conciliacao' /> 
					</fieldset>
				</div>
				<div class="col-md-12 col-12">
					<m-check class="check" label="Saltar página entre contas correntes" v-model="filtros.isSaltarPagina" />
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestContaCorrente: {
					table:'Dab01',
					columns:'dab01codigo,dab01nome'
					
				}	
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		.teste{
			color: #00F;
		}
		.check{
			margin-top: 0px;
			margin-bottom: 15px;
		}	
		.fieldsetSam{
			margin-bottom: 10px;
		}
	</style>	
</html>