<html>
<template>
 	<div>
		<fieldset>
			<legend>&nbsp; Empresa &nbsp;</legend>
			<m-select label= "" :multiple="true"  v-model="filtros.Emprs" :request="requestEmprs" placeholder="Empresa Ativa" selectFirstOnLoad="true" />
		</fieldset>
	</div>
		<div class="row q-gutter-y-md">
			<div>
		     	<fieldset>
					<legend>&nbsp; Classe &nbsp;</legend>
					<m-radio v-model="filtros.classe" option="0" label="A receber" />
					<m-radio v-model="filtros.classe" option="1" label="Recebidos" />
					<m-radio v-model="filtros.classe" option="2" label="A Pagar" />
					<m-radio v-model="filtros.classe" option="3" label="Pagos" />
					<m-radio v-model="filtros.classe" option="4" label="A Receber/Recebidos" />
					<m-radio v-model="filtros.classe" option="5" label="A Pagar/Pagos" />
				</fieldset>
			</div>
			<div>
				<fieldset>
					<legend>&nbsp; Agrupamento &nbsp;</legend>
					<m-radio v-model="filtros.agrupamento" option="D" label="Departamento" />
					<m-radio v-model="filtros.agrupamento" option="N" label="Natureza" />
					<m-radio v-model="filtros.agrupamento" option="Nu" label="Número" />
					<m-radio v-model="filtros.agrupamento" option="E" label="Entidade" />
					<m-radio v-model="filtros.agrupamento" option="T" label="Tipo de Documento" />
					<m-radio v-model="filtros.agrupamento" option="V" label="Vencimento" />
					<m-radio v-model="filtros.agrupamento" option="R" label="Representante" />
				</fieldset>
			</div>
			<div>
				<div>
					<fieldset>
						<legend>&nbsp; Exportar &nbsp;</legend>
						<m-radio v-model="filtros.exportar" option="0" label="PDF (.pdf)" />
						<m-radio v-model="filtros.exportar" option="1" label="Excel (.xls)" />
					</fieldset>
					<fieldset>
						<legend>&nbsp; Ordem &nbsp;</legend>
						<m-radio v-model="filtros.ordem" option="0" label="Nº Doc" />
						<m-radio v-model="filtros.ordem" option="1" label="Vencimento" />
						<m-radio v-model="filtros.ordem" option="2" label="Entidade" />
					</fieldset>
					<div>
						<m-check class="check" label="Sintético" v-model="filtros.sintetico" :disabled="filtros.agrupamento != 'D' && filtros.agrupamento != 'N'"/>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-12">
				<div class="col-md-6 col-12">
					<fieldset>
						<legend>&nbsp; Tipo de Documentos &nbsp;</legend>
						<m-select label="" :multiple="true" v-model="filtros.documento" :request="requestTipoDoc" placeholder="Todos" selectFirstOnLoad="true" />
					</fieldset>
				</div>
				<div class="row q-gutter-y-md">
					<fieldset>
						<legend>&nbsp; Opção &nbsp;</legend>
						<m-radio v-model="filtros.opc" option="0" label="Real" />
						<m-radio v-model="filtros.opc" option="1" label="Previsão" />
						<m-radio v-model="filtros.opc" option="2" label="Ambos" />
					</fieldset>
				</div>
			</div>
			<div class="col-md-1 col-12">
				<fieldset style="width: 170%">
					<legend>&nbsp; Número &nbsp;</legend>
					<div class="col-md-6">
						<m-input label=Inicial v-model="filtros.numeroInicial" :request="requestCentral" />
					</div>
					<div class="col-md-6">
						<m-input label="Final" v-model="filtros.numeroFinal" :request="requestCentral" />
					</div>
				</fieldset>
			</div>
		</div>
		<div class="row q-gutter-y-md">
			<div class="col-md-6 col-12">
				<fieldset>
					<legend>&nbsp; Portador &nbsp;</legend>
					<m-select :multiple="true" :request="requestPortador" v-model="filtros.portador" label=""/> 
				</fieldset>
			</div>
			<div class="col-md-6 col-12">
				<fieldset>
					<legend>&nbsp; Operação &nbsp;</legend>
					<m-select :multiple="true" :request="requestOperacao" v-model="filtros.oper" label=""/> 
				</fieldset>
			</div>
		</div>
			<div class="row q-gutter-y-md">
				<div class="col-md-6 col-12">
					<fieldset>
						<legend>&nbsp; Entidades &nbsp;</legend>
						<m-select label="" :multiple="true" v-model="filtros.entidade" :request="requestEntidades" placeholder="Todas" selectFirstOnLoad="true"/>
					</fieldset>
				</div>
				<div class="col-md-6 col-12">
					<fieldset>
						<legend>&nbsp; Representante &nbsp;</legend>
						<m-select label="" :multiple="true" v-model="filtros.representante" :request="requestRep" placeholder="Todos" selectFirstOnLoad="true"/>
					</fieldset>
				</div>
			</div>
		</div>
		<div class="row q-gutter-y-md">
			<div class="col-md-6 col-12">
				<fieldset class="h-100">
					<legend>&nbsp; Departamentos &nbsp;</legend>
					<m-select :multiple="true" :request="requestDep" v-model="filtros.departamento" />
				</fieldset>
			</div>
			<div class="col-md-6 col-12">
				<fieldset class="h-100">
					<legend>&nbsp; Naturezas &nbsp;</legend>
					<m-select :multiple="true" :request="requestNat" v-model="filtros.naturezas" />
				</fieldset>
			</div>
			</div>
		<div class="row q-gutter-y-md">
			<div class="col-md-6 col-12">
				<fieldset>
					<legend>
						&nbsp;
						<m-radio class="radioVcto" v-model="filtros.opcVcto" option="0" label="Nominal" style="display: inline" />
						&nbsp;
						<m-radio class="radioVcto" v-model="filtros.opcVcto" option="1" label="Real" style="display: inline"/> 
						&nbsp;
						&nbsp; (Vencimento) &nbsp;
					</legend>
					<m-date-interval v-model="filtros.dataVenc" />
				</fieldset>
			</div>
			<div class="col-md-6 col-12">
				<fieldset>
					<legend>&nbsp; Emissão &nbsp;</legend>
					<m-date-interval v-model="filtros.dataEmissao" />
				</fieldset>
			</div>
		</div>
		<div class="row q-gutter-y-md">
			<div class="col-md-6 col-12">
				<fieldset>
					<legend>
						&nbsp;
						<m-radio class="radioOrdem" v-model="filtros.tipoData" option="0" label="Pagamento" style="display: inline" />
						&nbsp;
						<m-radio class="radioOrdem" v-model="filtros.tipoData" option="1" label="Baixa" style="display: inline"/> 
						&nbsp;
					</legend>
					<m-date-interval v-model="filtros.dataPagBaixa" />
				</fieldset>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestEmprs: {
					table: 'aac10',
					columns: 'aac10codigo, aac10na'
				},
				
				requestNaturezas: {
					table:'Abf10',
					columns:'abf10codigo, abf10nome'
					
				},
				requestCentroCusto: {
					table:'Abb11',
					columns:'abb11codigo, abb11nome'
				},					
				
				requestPortador: {
					table: 'abf15',
					columns: 'abf15codigo, abf15nome',
				},
				requestOperacao: {
					table: 'abf16',
					columns: 'abf16codigo, abf16nome'
				},
				requestCodLancamentos: {
					table: 'abf20',
					columns: 'abf20codigo, abf20descr'
				},
				
				requestCentral: {
					table: 'abb01',
					columns: 'abb01num'
				},		
				
				requestTipoDoc: {
					table: 'aah01',
					columns: 'aah01codigo, aah01nome'
				},	
				
				requestEntidades: {
					table: 'abe01',
					columns: 'abe01codigo, abe01na, abe01nome'
				},

				requestRep: {
					table: 'abe01',
					columns: 'abe01codigo, abe01na, abe01nome',
					where: {abe01rep: 1}
				},

				requestDep: {
					table: 'Abb11',
					columns: 'abb11codigo, abb11nome',
				},
				requestNat: {
					table: 'Abf10',
					columns: 'abf10codigo, abf10nome',
				},
				
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
	<style>
		input[type="radio"] {
			margin-right: 5px;
		}
		
		fieldset {
			height: 100%;
		}
		
		.d-inline {
			display: inline;
			padding-left: 10px;
		}
		
		.input {
			border: none;
			Background-color: #EEEEEE;
		}
	</style>
</html>