<html>
	<template>
		<div class = "col-md-12 col-12"> 
			<div class = "row">
				<div class = "col-md-12 col-12">
					<fieldset>
						<legend>&nbsp; Itens &nbsp;</legend>
						<label><m-panel-check-mpms v-model="filtros.mpms" selectRef="selectItem"   :showMercadoria="false"/></label>
						<m-select label="Inicial" ref="selectItem" :multiple="true" :request="requestItens" v-model="filtros.itens" />
					</fieldset>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestItens : {
					table : 'Abm01',
					columns : 'abm01codigo, abm01na'
				},
				requestPrecoItem:[
						{value: 0, label: "Custo"},
						{value: 1, label: "Médio"},
						{value: 2, label: "Maior"},
						{value: 3, label: "Menor"},
						{value: 4, label: "Ultimo"}
				]
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>