<html>
	<template>
		<div class = "row">
			<div class = "col-md-12 col-12">
				<div class = "row">
					<div class = "col-md-2 col-12">
						<fieldset style = "height:183px">
							<legend>&nbsp; Número &nbsp;</legend>
							Inicial <m-input v-model="filtros.numeroInicial"/>
							Final <m-input v-model="filtros.numeroFinal"/>
						</fieldset>
					</div>
					<div class = "col-md-10 col-12">
						<div class = "row">
							<div class = "col-md-12 col-12">
								<fieldset>
									<legend>&nbsp; Data Encerramento &nbsp; </legend>
									<m-date-interval v-model="filtros.dataEncerramento" :required='false' />
								</fieldset>
							</div>
							<div class="col-md-12 col-12">
								<fieldset class="h-100">
									<legend>&nbsp; Itens &nbsp;</legend>
									<m-select ref="selectItem" :multiple="true" :request="requestItens" v-model="filtros.itens" />
								</fieldset>
							</div>
						</div>
					</div>
					<div class = "col-md-4 col-12">
						<div class="col-md-12 col-12">
							<fieldset class="h-100">
								<legend>&nbsp; Status &nbsp;</legend>
								<m-check v-model="filtros.criada" label="Criada"  style="display: inline" />
								<m-check v-model="filtros.emProcesso" label="Em Processo"  style="display: inline" />
								<m-check v-model="filtros.concluida" label="Concluída"  style="display: inline" />
							</fieldset>
						</div>
					</div>
					<div class = "col-md-4 col-12">
						<fieldset>
							<legend>&nbsp; Impressão: &nbsp;</legend>
							<m-radio class="radioOrdem" label=' PDF' option="0" name="impressao" v-model='filtros.impressao' style="display: inline" />
							<m-radio class="radioOrdem" label=' Excel' option="1" name="impressap" v-model='filtros.impressao' style="display: inline" /> 
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestItens: {
					table: 'Abm01',
					columns: 'abm01codigo, abm01na',
				},
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>