<html>
	<template>
		<div class = "row">
			<div class = "col-md-12 col-12">
				<div class = "row">
					<div class = "col-md-12 col-12">
						<fieldset>
							<legend>&nbsp; Produto Acabado &nbsp;</legend>
							<m-select label="" v-model="filtros.prodAcabado" :request = "requestProdAcab" :multiple="true" />
						</fieldset>
					</div>
					<div class = "col-md-12 col-12">
						<fieldset>
							<legend>&nbsp; Data &nbsp;</legend>
							<m-date-interval :required = "false" v-model="filtros.data" />
						</fieldset>
					</div>

					<div class="col-md-4 col-12">
						<fieldset class = "h-100">
							<legend>&nbsp; Impressão: &nbsp;</legend>
							<m-radio class="radioOrdem" label=' PDF' option="0" name="impressao" v-model='filtros.impressao' style="display: inline" />
							<m-radio class="radioOrdem" label=' Excel' option="1" name="impressao" v-model='filtros.impressao' style="display: inline" /> 
						</fieldset>
					</div>
				</div>
			</div>
		</div>
	</template>
	<script>
		const classe = {
			data: {
				requestTipo:{
					table:'Aah01',
					columns: 'aah01codigo, aah01nome'
				},
				requestProdAcab:{
					table:'Abm01',
					columns:'abm01codigo, abm01na',
					where:{abm01tipo:1}
				},
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>