<html>
	<template>
		<div class = "col-md-12 col-12"> 
			<div class = "row">
				<div class = "col-md-12 col-12">
					<fieldset>
						<legend>&nbsp; Itens &nbsp;</legend>
						<label><m-panel-check-mpms v-model="filtros.mpms" selectRef="selectItem"  :showMaterial="false" :showMercadoria="false"/></label>
						<m-select label="Inicial" ref="selectItem" :multiple="true" :request="requestItens" v-model="filtros.itens" />
					</fieldset>
				</div>
				<div class = "col-md-2 col-12">
					<fieldset class = "h-100">
						<legend>&nbsp; Quantidade &nbsp;</legend>
						<m-input v-model="filtros.quantidade" />
					</fieldset>
				</div>
				<div class = "col-md-4 col-12">
					<fieldset>
						<legend>&nbsp; Preço dos Componentes &nbsp;</legend>
						<m-select  :multiple="false" :options="requestPrecoItem" v-model="filtros.precoItem" />
						<div class = "col-1">
							<m-check v-model="filtros.chkPrecoItem" label="Considerar Preço"  />
						</div>
					</fieldset>
					
				</div>
				<div class="col-md-4 col-12">
					<fieldset class = "h-100">
						<legend>&nbsp; Impressão: &nbsp;</legend>
						<m-radio class="radioOrdem" label=' PDF' option="0" name="impressao" v-model='filtros.impressao' style="display: inline" />
						<m-radio class="radioOrdem" label=' Excel' option="1" name="impressao" v-model='filtros.impressao' style="display: inline" /> 
					</fieldset>
				</div>
			</div>
		</div>
		
	</template>
	<script>
		const classe = {
			data: {
				requestItens : {
					table : 'Abm01',
					columns : 'abm01codigo, abm01na'
				},
				requestPrecoItem:[
						{value: 0, label: "Custo"},
						{value: 1, label: "Médio"},
						{value: 2, label: "Maior"},
						{value: 3, label: "Menor"},
						{value: 4, label: "Ultimo"}
				]
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>