<html>
	
	
	<template>
	<div class = "main">
		<div class = "documento">
			<div class = "numero">
				<fieldset>
					<legend>&nbsp; Número &nbsp;</legend>
					Inicial: <m-input label="" v-model="filtros.numeroInicial" />
					Final: <m-input label="" v-model="filtros.numeroFinal" />	
				</fieldset>		
			</div>
			<div class = "tipoDoc">
				<fieldset>
					<legend>&nbsp; Tipo Documento &nbsp;</legend>
					Inicial:<m-select label="" v-model="filtros.tipoIni" :request = "requestTipo" :multiple="false" />
					Final:<m-select label="" v-model="filtros.tipoFim" :request = "requestTipo" :multiple="false" />
				</fieldset>
			</div>
			<div class = "DataLancamento">
				<fieldset>
					<legend>&nbsp; Data Lançamento &nbsp;</legend>
<!--					Inicial:<m-select label="" v-model="filtros.dataEmissaoIni" :request = "requestData" :multiple="false" />-->
<!--					Final:<m-select label="" v-model="filtros.dataEmissaoFin" :request = "requestData" :multiple="false" />-->
<!--					<m-date-interval id="datas" :required = "true" v-model="filtros.datas" />-->
					Inicial:<m-date id="datas" :required = "true" v-model="filtros.dataInicial" />
					Final<m-date id="datas" :required = "true" v-model="filtros.dataFinal" />
				</fieldset>
			</div>		
		</div>
		<div class = "Entidade">
				<fieldset>
					<legend>&nbsp; Entidade &nbsp;</legend>
					Inicial:<m-select label="" v-model="filtros.entIni" :request = "requestEnt" :multiple="false" />
					Final:<m-select label="" v-model="filtros.entFin" :request = "requestEnt" :multiple="false" />
				</fieldset>
		</div>
		<div class = "Status">
				<fieldset>
					<legend>&nbsp; Status &nbsp;</legend>
					Inicial:<m-select label="" v-model="filtros.statIni" :request = "requestStat" :multiple="false" />
					Final:<m-select label="" v-model="filtros.statFin" :request = "requestStat" :multiple="false" />
				</fieldset>
		</div>
		<div class = "Local">
				<fieldset>
					<legend>&nbsp; Local &nbsp;</legend>
					Inicial:<m-select label="" v-model="filtros.LocalIni" :request = "requestLocal" :multiple="false" />
					Final:<m-select label="" v-model="filtros.LocalFin" :request = "requestLocal" :multiple="false" />
				</fieldset>
		</div>
	</div>
		
	</template>
	<script>
		const classe = {
			data: {
				requestTipo:{
					table:'Aah01',
					columns:'aah01codigo, aah01nome',
					iniFimColumn:'aah01codigo'
				},
				requestEnt:{
					table: 'Abe01',
					columns:'abe01codigo,abe01na'
				},
				requestStat:{
					table: 'Aam04',
					columns:'aam04codigo',
					iniFimColumn: 'aam04codigo'
					
				},
				requestLocal:{
					table: 'Abm15',
					columns:'abm15nome',
					iniFimColumn: 'abm15nome'
				}
				
			},
			onLoad: function () {},
			methods: {}
		}
	</script>		
	</script>
	<style>
		.documento{
			display:flex;
		}
		.numero{
			width:15%;
		}
		.tipoDoc{
			width:40%;
		}
		.tipoData{
			width:47%;
		}
	</style>
</html>