<html>
	<template>
		<div class = "row">
			<div class = "col-md-12 col-12">
				<div class = "row">
					<div class = "col-md-12 col-12">
						<fieldset>
							<legend>
								<m-panel-check-mpms v-model="filtros.mpm" :showServico="false" selectRef="selectItemIni, selectItemFim" style="padding-bottom: 5px;" />
							</legend>
							<m-select ref="selectItem" :multiple="true" :request="requestItem" v-model="filtros.itens" />
						</fieldset>
					</div>
					<div class="col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Status &nbsp;</legend>
							<m-select label="" :multiple="true" v-model="filtros.status" :request="requestStatus" />
						</fieldset>
					</div>
					<div class="col-md-6 col-12">
						<fieldset>
							<legend>&nbsp; Local &nbsp;</legend>
							<m-select label="" :multiple="true" v-model="filtros.local" :request="requestLocal" />
						</fieldset>
					</div>
					<div class="col-md-3 col-12">
						<fieldset>
							<legend>&nbsp; Impressão: &nbsp;</legend>
							<m-radio class="radioOrdem" label=' PDF' option="0" name="impressao" v-model='filtros.impressao' style="display: inline" />
							<m-radio class="radioOrdem" label=' Excel' option="1" name="impressao" v-model='filtros.impressao' style="display: inline" /> 
						</fieldset>
					</div>
				</div>
			</div>
		</div>
		
		
	</template>
	<script>
		const classe = {
			data: {
				requestItem:{
					table:'Abm01',
					columns:'abm01codigo, abm01na',
					where:{
						abm01tipo: 1
					}
				},
				requestStatus:{
					table: 'Aam04',
					columns: 'aam04codigo'
				},
				requestLocal:{
					table: 'Abm15',
					columns:'abm15nome'
				}
				
			},
			onLoad: function () {},
			methods: {}
		}
	</script>
</html>